# Introduction

- **session_id** - the ID of the session the event took place in
- **index** - the index of the event for the session
- **elapsed_time** - how much time has passed (in milliseconds) between the start of the session and when the event was recorded
- **event_name** - the name of the event type
- **name** - the event name (e.g. identifies whether a notebook_click is opening or closing the notebook)
- **level** - what level of the game the event occurred in (0 to 22)
- **page** - the page number of the event (only for notebook-related events)
- **room_coor_x** - the coordinates of the click in reference to the in-game room (only for click events)
- **room_coor_y** - the coordinates of the click in reference to the in-game room (only for click events)
- **screen_coor_x** - the coordinates of the click in reference to the player’s screen (only for click events)
- **screen_coor_y** - the coordinates of the click in reference to the player’s screen (only for click events)
- **hover_duration** - how long (in milliseconds) the hover happened for (only for hover events)
- **text** - the text the player sees during this event
- **fqid** - the fully qualified ID of the event
- **room_fqid** - the fully qualified ID of the room the event took place in
- **text_fqid** - the fully qualified ID of the
- **fullscreen** - whether the player is in fullscreen mode
- **hq** - whether the game is in high-quality
- **music** - whether the game music is on or off
- **level_group** - which group of levels - and group of questions - this row belongs to (0-4, 5-12, 13-22)

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Train

## Data

In [3]:
# Reference: https://www.kaggle.com/competitions/predict-student-performance-from-game-play/discussion/384359
dtypes={
    'elapsed_time': np.int32,
    'event_name': 'category',
    'name': 'category',
    'level': np.uint8,
    'room_coor_x': np.float32,
    'room_coor_y': np.float32,
    'screen_coor_x': np.float32,
    'screen_coor_y': np.float32,
    'hover_duration': np.float32,
    'text': 'category',
    'fqid': 'category',
    'room_fqid': 'category',
    'text_fqid': 'category',
    'fullscreen': 'category',
    'hq': 'category',
    'music': 'category',
    'level_group': 'category'
}

train_data = pd.read_csv('../data/train.csv', dtype=dtypes)

In [4]:
## Reference: https://www.kaggle.com/code/kimtaehun/lightgbm-baseline-with-aggregated-log-data?scriptVersionId=118573291&cellId=15
def summarize_data_info(df: pd.DataFrame) -> pd.DataFrame:
    summary = pd.DataFrame(df.dtypes, columns=['data_type'])
    
    summary['perc_missing'] = df.isnull().sum().values * 100
    summary['perc_missing'] = df.isnull().sum().values / len(df)
    summary['n_unique'] = df.nunique().values
    
    summary['first_value'] = df.loc[0].values
    summary['second_value'] = df.loc[1].values
    summary['third_value'] = df.loc[2].values
    
    df_describe = pd.DataFrame(df.describe(include='all').transpose())
    summary['min'] = df_describe['min'].values
    summary['max'] = df_describe['max'].values
    
    print(f'Data Shape: {df.shape}')
    
    return summary

In [5]:
summary = summarize_data_info(train_data)
summary

Data Shape: (26296946, 20)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int64,0.000000,20348,0,1,2,0.0,20473.0
elapsed_time,int32,0.000000,5042639,0,1323,831,0.0,1988606704.0
event_name,category,0.000000,11,cutscene_click,person_click,person_click,NaN,NaN
name,category,0.000000,6,basic,basic,basic,NaN,NaN
level,uint8,0.000000,23,0,0,0,0.0,22.0
page,float64,0.978532,7,NaN,NaN,NaN,0.0,6.0
room_coor_x,float32,0.078841,12538215,-413.991394,-413.991394,-413.991394,-1992.354614,1261.773804
room_coor_y,float32,0.078841,9551136,-159.314682,-159.314682,-159.314682,-918.162354,543.616394
screen_coor_x,float32,0.078841,57477,380.0,380.0,380.0,0.0,1919.0
screen_coor_y,float32,0.078841,102591,494.0,494.0,494.0,0.0,1440.0
hover_duration,float32,0.923860,24101,NaN,NaN,NaN,0.0,245163696.0
text,category,0.634287,597,undefined,"Whatcha doing over there, Jo?",Just talking to Teddy.,NaN,NaN
fqid,category,0.314653,128,intro,gramps,gramps,NaN,NaN
room_fqid,category,0.000000,19,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.634283,126,tunic.historicalsociety.closet.intro,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN
fullscreen,category,0.000000,2,0,0,0,NaN,NaN
hq,category,0.000000,2,0,0,0,NaN,NaN
music,category,0.000000,2,1,1,1,NaN,NaN
level_group,category,0.000000,3,0-4,0-4,0-4,NaN,NaN

In [6]:
# Reduce Memory Usage
# reference : https://www.kaggle.com/code/arjanso/reducing-dataframe-memory-size-by-65 @ARJANGROEN

def reduce_memory_usage(df):
    
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype.name
        if ((col_type != 'datetime64[ns]') & (col_type != 'category')):
            if (col_type != 'object'):
                c_min = df[col].min()
                c_max = df[col].max()

                if str(col_type)[:3] == 'int':
                    if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                        df[col] = df[col].astype(np.int8)
                    elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                        df[col] = df[col].astype(np.int16)
                    elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                        df[col] = df[col].astype(np.int32)
                    elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                        df[col] = df[col].astype(np.int64)

                else:
                    if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                        df[col] = df[col].astype(np.float16)
                    elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                        df[col] = df[col].astype(np.float32)
                    else:
                        pass
            else:
                df[col] = df[col].astype('category')
    mem_usg = df.memory_usage().sum() / 1024**2 
    print("Memory usage became: ",mem_usg," MB")
    
    return df

In [7]:
train_data = reduce_memory_usage(train_data)

Memory usage of dataframe is 1529.83 MB
Memory usage became:  1053.3384094238281  MB

In [8]:
summary = summarize_data_info(train_data)
summary

Data Shape: (26296946, 20)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.000000,20348,0,1,2,0.0,20473.0
elapsed_time,int32,0.000000,5042639,0,1323,831,0.0,1988606704.0
event_name,category,0.000000,11,cutscene_click,person_click,person_click,NaN,NaN
name,category,0.000000,6,basic,basic,basic,NaN,NaN
level,float16,0.000000,23,0.0,0.0,0.0,0.0,22.0
page,float16,0.978532,7,NaN,NaN,NaN,0.0,6.0
room_coor_x,float16,0.078841,29854,-414.0,-414.0,-414.0,-1992.0,1262.0
room_coor_y,float16,0.078841,27847,-159.375,-159.375,-159.375,-918.0,543.5
screen_coor_x,float16,0.078841,6866,380.0,380.0,380.0,0.0,1919.0
screen_coor_y,float16,0.078841,5188,494.0,494.0,494.0,0.0,1440.0
hover_duration,float32,0.923860,24101,NaN,NaN,NaN,0.0,245163696.0
text,category,0.634287,597,undefined,"Whatcha doing over there, Jo?",Just talking to Teddy.,NaN,NaN
fqid,category,0.314653,128,intro,gramps,gramps,NaN,NaN
room_fqid,category,0.000000,19,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.634283,126,tunic.historicalsociety.closet.intro,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN
fullscreen,category,0.000000,2,0,0,0,NaN,NaN
hq,category,0.000000,2,0,0,0,NaN,NaN
music,category,0.000000,2,1,1,1,NaN,NaN
level_group,category,0.000000,3,0-4,0-4,0-4,NaN,NaN

### `Text` Field Preprocessing

In [9]:
from typing import Dict

def preprocess_text_str(text_str: str) -> str:
    s = str(text_str).replace("\\", "")
    text_str_ = "undefined" if s.startswith("u0") or (s in ["undefined", "nan"]) else s
    
    text_str__clean = text_str_.split("u0")[0] if "u0" in text_str_ else text_str_ 
    
    return text_str__clean

def create_text_field__clean_dict(data: pd.DataFrame(), text_field: str) -> Dict:
    text_values = list(data[text_field].unique())
    text_values_ = [preprocess_text_str(s) for s in text_values]
    
    text_field__clean_dict = dict(zip(text_values, text_values_))
    
    return text_field__clean_dict

def map_text_field(data: pd.DataFrame, text_field: str, text_field__clean_dict: Dict) -> pd.DataFrame:
    data[text_field] = data[text_field].map(text_values__clean_dict).fillna("undefined")
    
    return data

def recategorize_category_typed_fields(data: pd.DataFrame) -> pd.DataFrame:
    for field_name, dtype in data.dtypes.items():
        if dtype == "category":
            data[field_name] = data[field_name].astype(str).astype("category")
            
    return data

In [10]:
text_values = list(train_data["text"].unique())
text_values[:20]

['undefined',
 'Whatcha doing over there, Jo?',
 'Just talking to Teddy.',
 'I gotta run to my meeting!',
 'Can I come, Gramps?',
 'Sure thing, Jo. Grab your notebook and come upstairs!',
 'See you later, Teddy.',
 "I get to go to Gramps's meeting!",
 'Now where did I put my notebook?',
 '\\u00f0\\u0178\\u02dc\\u00b4',
 nan,
 'I love these photos of me and Teddy!',
 'Found it!',
 'Gramps is in trouble for losing papers?',
 "This can't be right!",
 'Gramps is a great historian!',
 "Hmm. Button's still not working.",
 "Let's get started. The Wisconsin Wonders exhibit opens tomorrow!",
 'Who wants to investigate the shirt artifact?',
 "Not Leopold here. He's been losing papers lately."]

In [11]:
text_values_ = [preprocess_text_str(s) for s in text_values]
text_values_[:20]

['undefined',
 'Whatcha doing over there, Jo?',
 'Just talking to Teddy.',
 'I gotta run to my meeting!',
 'Can I come, Gramps?',
 'Sure thing, Jo. Grab your notebook and come upstairs!',
 'See you later, Teddy.',
 "I get to go to Gramps's meeting!",
 'Now where did I put my notebook?',
 'undefined',
 'undefined',
 'I love these photos of me and Teddy!',
 'Found it!',
 'Gramps is in trouble for losing papers?',
 "This can't be right!",
 'Gramps is a great historian!',
 "Hmm. Button's still not working.",
 "Let's get started. The Wisconsin Wonders exhibit opens tomorrow!",
 'Who wants to investigate the shirt artifact?',
 "Not Leopold here. He's been losing papers lately."]

In [12]:
text_field__clean_dict = dict(zip(text_values, text_values_))
train_data["text"] = train_data["text"].map(text_field__clean_dict).fillna("undefined").astype('category')

In [13]:
summary = summarize_data_info(train_data)
summary

Data Shape: (26296946, 20)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.000000,20348,0,1,2,0.0,20473.0
elapsed_time,int32,0.000000,5042639,0,1323,831,0.0,1988606704.0
event_name,category,0.000000,11,cutscene_click,person_click,person_click,NaN,NaN
name,category,0.000000,6,basic,basic,basic,NaN,NaN
level,float16,0.000000,23,0.0,0.0,0.0,0.0,22.0
page,float16,0.978532,7,NaN,NaN,NaN,0.0,6.0
room_coor_x,float16,0.078841,29854,-414.0,-414.0,-414.0,-1992.0,1262.0
room_coor_y,float16,0.078841,27847,-159.375,-159.375,-159.375,-918.0,543.5
screen_coor_x,float16,0.078841,6866,380.0,380.0,380.0,0.0,1919.0
screen_coor_y,float16,0.078841,5188,494.0,494.0,494.0,0.0,1440.0
hover_duration,float32,0.923860,24101,NaN,NaN,NaN,0.0,245163696.0
text,category,0.000000,587,undefined,"Whatcha doing over there, Jo?",Just talking to Teddy.,NaN,NaN
fqid,category,0.314653,128,intro,gramps,gramps,NaN,NaN
room_fqid,category,0.000000,19,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.634283,126,tunic.historicalsociety.closet.intro,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN
fullscreen,category,0.000000,2,0,0,0,NaN,NaN
hq,category,0.000000,2,0,0,0,NaN,NaN
music,category,0.000000,2,1,1,1,NaN,NaN
level_group,category,0.000000,3,0-4,0-4,0-4,NaN,NaN

### Train Labels

In [14]:
train_labels = pd.read_csv("../data/train_labels.csv")

In [15]:
summary = summarize_data_info(train_labels)
summary

Data Shape: (424116, 2)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,object,0.0,424116,20090312431273200_q1,20090312433251036_q1,20090312455206810_q1,NaN,NaN
correct,int64,0.0,2,1,0,1,0.0,1.0

In [16]:
train_labels['question_no'] = train_labels['session_id'].apply(lambda x: int(x.split('_')[-1][1:]))
train_labels['session_id'] = train_labels['session_id'].apply(lambda x: int(x.split('_')[0]) )

train_labels["session_id"].nunique()

23562

In [17]:
summary = summarize_data_info(train_labels)
summary

Data Shape: (424116, 3)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312433251036,20090312455206810,2.009031e+16,2.210022e+16
correct,int64,0.0,2,1,0,1,0.000000e+00,1.000000e+00
question_no,int64,0.0,18,1,1,1,1.000000e+00,1.800000e+01

#### Validity check >>> Train Labels

In [18]:
train_labels.groupby("session_id")["question_no"].nunique().value_counts()

18    23562
Name: question_no, dtype: int64

In [19]:
question_no__list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
len(train_labels[~train_labels["question_no"].isin(question_no__list)])

0

In [20]:
len(train_labels) == (23562 * 18)

True

#### Validity check >>> Session ids in datasets

In [21]:
train_data__session_id_unique_vals = train_data["session_id"].drop_duplicates().sort_values().reset_index(drop=True)
train_labels__session_id_unique_vals = train_labels["session_id"].drop_duplicates().sort_values().reset_index(drop=True)

pd.testing.assert_series_equal(train_data__session_id_unique_vals, train_labels__session_id_unique_vals)

### Downsampling

In [22]:
session_ids = sorted(train_labels["session_id"].unique())

np.random.seed(42)
np.random.shuffle(session_ids)

session_ids[:5]

[22010107585684490,
 20100413373831344,
 21000409261644490,
 20110314164224844,
 21080621495509370]

In [23]:
N_CHUNKS = 10

np.random.seed(42)
chunk_ids = np.random.randint(N_CHUNKS, size=len(session_ids))

session_chunk_df = pd.DataFrame({"session_id": session_ids, "chunk_id": chunk_ids})
session_chunk_df["chunk_id"].value_counts()

0    2418
9    2407
5    2395
6    2360
1    2358
2    2350
3    2347
7    2320
8    2311
4    2296
Name: chunk_id, dtype: int64

In [24]:
session_chunk_df["chunk_id"].nunique()

10

# Features Per Event

# Event Categories

In [25]:
for i in train_data["event_name"].unique().categories:
    print(i)

checkpoint
cutscene_click
map_click
map_hover
navigate_click
notebook_click
notification_click
object_click
object_hover
observation_click
person_click

In [26]:
from typing import List

def convert_to_numeric_type(data: pd.DataFrame, feature_fields_list: List[str]) -> pd.DataFrame:
    for col_name, dtype in data[feature_fields_list].dtypes.items():
        if str(dtype).startswith("int"):
            data[col_name] = data[col_name].astype("int64")
        elif str(dtype).startswith("float"):
            data[col_name] = data[col_name].astype("float64")
        elif str(dtype) == "category":
            data[col_name] = data[col_name].astype(str).astype("int8")
        else:
            pass
            
    return data

def create_event_features(event_data: pd.DataFrame, feature_fields_list: List) -> pd.DataFrame:
    df_event = convert_to_numeric_type(event_data, feature_fields_list)
    
    stat_list = ["min", "max", "median", "mean", "std", "sum", "count"]
    
    df__event_features = df_event.groupby(["session_id", "level_group"])[feature_fields_list].agg(stat_list).round(2)
    df__event_features.columns = [f"{col_name}__{stat}" for col_name, stat in df__event_features.columns.to_flat_index()]
    
    return df__event_features

def encode_category_field__onehot(event_data: pd.DataFrame, cat_field: str, onehot_dict: Dict[str, str]) -> pd.DataFrame:
    for col_name, value in onehot_dict.items():
        event_data[col_name] = (event_data[cat_field] == value).astype("int8").astype("category")
        
    return event_data

### `event_name` == `"checkpoint"`

In [27]:
event_name = "checkpoint"
checkpoint__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

checkpoint__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,164,194860,basic,4.0,NaN,NaN,NaN,NaN,NaN,NaN,undefined,chap1_finale_c,tunic.capitol_0.hall,NaN,0,0,1,0-4
1,20090312431273200,470,499235,basic,12.0,NaN,NaN,NaN,NaN,NaN,NaN,undefined,chap2_finale_c,tunic.capitol_1.hall,NaN,0,0,1,5-12
2,20090312431273200,931,1272679,basic,22.0,NaN,NaN,NaN,NaN,NaN,NaN,undefined,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22
3,20090312433251036,138,233752,basic,4.0,NaN,NaN,NaN,NaN,NaN,NaN,undefined,chap1_finale_c,tunic.capitol_0.hall,NaN,0,0,0,0-4
4,20090312433251036,544,817609,basic,12.0,NaN,NaN,NaN,NaN,NaN,NaN,undefined,chap2_finale_c,tunic.capitol_1.hall,NaN,0,0,0,5-12

In [28]:
checkpoint__train_data = recategorize_category_typed_fields(checkpoint__train_data)

summary = summarize_data_info(checkpoint__train_data)
summary

Data Shape: (71028, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,2435,164,470,931,0.0,20473.0
elapsed_time,int32,0.0,69855,194860,499235,1272679,300.0,1987182816.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,3,4.0,12.0,22.0,4.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,3,chap1_finale_c,chap2_finale_c,chap4_finale_c,NaN,NaN
room_fqid,category,0.0,3,tunic.capitol_0.hall,tunic.capitol_1.hall,tunic.capitol_2.hall,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,5-12,13-22,NaN,NaN

In [29]:
checkpoint__feature_fields_list = ["index", "elapsed_time", "fullscreen", "hq", "music"]

In [30]:
numeric_features__checkpoint = create_event_features(checkpoint__train_data, checkpoint__feature_fields_list).reset_index()
numeric_features__checkpoint.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,164.0,164.0,164.0,164.0,NaN,164,1,194860.0,...,NaN,0,1,1.0,1.0,1.0,1.0,NaN,1,1
1,20090312431273200,13-22,931.0,931.0,931.0,931.0,NaN,931,1,1272679.0,...,NaN,0,1,1.0,1.0,1.0,1.0,NaN,1,1
2,20090312431273200,5-12,470.0,470.0,470.0,470.0,NaN,470,1,499235.0,...,NaN,0,1,1.0,1.0,1.0,1.0,NaN,1,1
3,20090312433251036,0-4,138.0,138.0,138.0,138.0,NaN,138,1,233752.0,...,NaN,0,1,0.0,0.0,0.0,0.0,NaN,0,1
4,20090312433251036,13-22,1875.0,1875.0,1875.0,1875.0,NaN,1875,1,3815334.0,...,NaN,0,1,0.0,0.0,0.0,0.0,NaN,0,1

In [31]:
summary = summarize_data_info(numeric_features__checkpoint)
summary

Data Shape: (70686, 37)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,float64,0.000014,2366,164.0,931.0,470.0,0.0,20473.0
index__max,float64,0.000014,2432,164.0,931.0,470.0,0.0,20473.0
index__median,float64,0.000014,2541,164.0,931.0,470.0,0.0,20473.0
index__mean,float64,0.000014,2545,164.0,931.0,470.0,0.0,20473.0
index__std,float64,0.995261,290,NaN,NaN,NaN,39.6,1837.77
index__sum,int64,0.000000,2493,164,931,470,0.0,20473.0
index__count,int64,0.000000,4,1,1,1,0.0,3.0
elapsed_time__min,float64,0.000014,69512,194860.0,1272679.0,499235.0,300.0,1468325947.0
elapsed_time__max,float64,0.000014,69520,194860.0,1272679.0,499235.0,300.0,1987182816.0
elapsed_time__median,float64,0.000014,69520,194860.0,1272679.0,499235.0,300.0,1468325947.0
elapsed_time__mean,float64,0.000014,69520,194860.0,1272679.0,499235.0,300.0,1468325947.0
elapsed_time__std,float64,0.995261,335,NaN,NaN,NaN,266058.83,1404833005.33
elapsed_time__sum,int64,0.000000,69521,194860,1272679,499235,0.0,1987924809.0
elapsed_time__count,int64,0.000000,4,1,1,1,0.0,3.0
fullscreen__min,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
fullscreen__max,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
fullscreen__median,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.995261,1,NaN,NaN,NaN,0.0,0.0
fullscreen__sum,int8,0.000000,4,0,0,0,0.0,3.0
fullscreen__count,int64,0.000000,4,1,1,1,0.0,3.0
hq__min,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
hq__max,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
hq__median,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.000014,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.995261,1,NaN,NaN,NaN,0.0,0.0
hq__sum,int8,0.000000,4,0,0,0,0.0,3.0
hq__count,int64,0.000000,4,1,1,1,0.0,3.0
music__min,float64,0.000014,2,1.0,1.0,1.0,0.0,1.0
music__max,float64,0.000014,2,1.0,1.0,1.0,0.0,1.0
music__median,float64,0.000014,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.000014,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.995261,1,NaN,NaN,NaN,0.0,0.0
music__sum,int8,0.000000,4,1,1,1,0.0,3.0
music__count,int64,0.000000,4,1,1,1,0.0,3.0

### `event_name` == `"cutscene_click"`

In [32]:
event_name = "cutscene_click"
cutscene_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

cutscene_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,basic,0.0,NaN,-414.0000,-159.37500,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,41,45062,basic,1.0,NaN,93.8125,-60.34375,338.0,368.0,NaN,Let's get started. The Wisconsin Wonders exhib...,groupconvo,tunic.historicalsociety.entry,tunic.historicalsociety.entry.groupconvo,0,0,1,0-4
2,20090312431273200,42,46046,basic,1.0,NaN,134.0000,-85.68750,390.0,386.0,NaN,Who wants to investigate the shirt artifact?,groupconvo,tunic.historicalsociety.entry,tunic.historicalsociety.entry.groupconvo,0,0,1,0-4
3,20090312431273200,43,47362,basic,1.0,NaN,125.9375,-83.37500,390.0,385.0,NaN,Not Leopold here. He's been losing papers lately.,groupconvo,tunic.historicalsociety.entry,tunic.historicalsociety.entry.groupconvo,0,0,1,0-4
4,20090312431273200,44,48112,basic,1.0,NaN,123.6875,-80.06250,389.0,383.0,NaN,Hey!,groupconvo,tunic.historicalsociety.entry,tunic.historicalsociety.entry.groupconvo,0,0,1,0-4

In [33]:
cutscene_click__train_data = recategorize_category_typed_fields(cutscene_click__train_data)

summary = summarize_data_info(cutscene_click__train_data)
summary

Data Shape: (2703035, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,3583,0,41,42,0.0,19407.0
elapsed_time,int32,0.0,1528317,0,45062,46046,0.0,1988105886.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,14,0.0,1.0,1.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,21727,-414.0,93.8125,134.0,-1419.0,949.0
room_coor_y,float16,0.0,19919,-159.375,-60.34375,-85.6875,-532.0,543.5
screen_coor_x,float16,0.0,4428,380.0,338.0,390.0,0.0,1886.0
screen_coor_y,float16,0.0,3017,494.0,368.0,386.0,0.0,1414.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,176,undefined,Let's get started. The Wisconsin Wonders exhib...,Who wants to investigate the shirt artifact?,NaN,NaN
fqid,category,0.0,19,intro,groupconvo,groupconvo,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.closet,tunic.historicalsociety.entry,tunic.historicalsociety.entry,NaN,NaN
text_fqid,category,0.0,19,tunic.historicalsociety.closet.intro,tunic.historicalsociety.entry.groupconvo,tunic.historicalsociety.entry.groupconvo,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [34]:
cutscene_click__feature_fields_list = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

In [35]:
numeric_features__cutscene_click = create_event_features(cutscene_click__train_data, cutscene_click__feature_fields_list).reset_index()
numeric_features__cutscene_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,0,151,56.5,63.75,29.89,1785,28,0,...,0.0,0,28,1,1,1.0,1.0,0.0,28,28
1,20090312431273200,13-22,523,699,637.5,618.05,58.78,37083,60,844329,...,0.0,0,60,1,1,1.0,1.0,0.0,60,60
2,20090312431273200,5-12,188,214,204.5,200.58,9.82,2407,12,234969,...,0.0,0,12,1,1,1.0,1.0,0.0,12,12
3,20090312433251036,0-4,0,126,48.5,49.81,25.68,1793,36,0,...,0.0,0,36,0,0,0.0,0.0,0.0,0,36
4,20090312433251036,13-22,586,1419,698.0,769.80,265.25,50037,65,1183009,...,0.0,0,65,0,0,0.0,0.0,0.0,0,65

In [36]:
pd.set_option("display.max_rows", 100)

In [37]:
summary = summarize_data_info(numeric_features__cutscene_click)
summary

Data Shape: (70686, 72)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.0,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.0,1363,0,523,188,0.0,18345.0
index__max,int64,0.0,1959,151,699,214,21.0,19407.0
index__median,float64,0.0,2992,56.5,637.5,204.5,6.0,18446.5
index__mean,float64,0.0,33067,63.75,618.05,200.58,13.27,18540.38
index__std,float64,0.0,11998,29.89,58.78,9.82,4.74,2644.45
index__sum,int64,0.0,23987,1785,37083,2407,146.0,1409069.0
index__count,int64,0.0,145,28,60,12,11.0,293.0
elapsed_time__min,int64,0.0,46490,0,844329,234969,0.0,1194312858.0
elapsed_time__max,int64,0.0,68363,155754,1016818,255633,879.0,1988105886.0
elapsed_time__median,float64,0.0,68888,61685.0,943306.0,248192.0,483.0,1746658401.0
elapsed_time__mean,float64,0.0,70638,68927.82,931138.97,244832.33,463.69,1195338366.96
elapsed_time__std,float64,0.0,70433,30490.56,55305.14,7859.46,210.76,1007278840.4
elapsed_time__sum,int64,0.0,70467,1929979,55868338,2937988,13702.0,141232107181.0
elapsed_time__count,int64,0.0,145,28,60,12,11.0,293.0
level__min,float64,0.0,4,0.0,13.0,5.0,0.0,13.0
level__max,float64,0.0,7,3.0,18.0,6.0,3.0,22.0
level__median,float64,0.0,15,1.0,16.0,6.0,0.5,17.0
level__mean,float64,0.0,338,1.43,15.48,5.58,0.71,16.53
level__std,float64,0.0,184,0.69,1.84,0.51,0.34,3.26
level__sum,float64,0.0,923,40.0,929.0,67.0,27.0,3735.0
level__count,int64,0.0,145,28,60,12,11.0,293.0
room_coor_x__min,float64,0.0,3352,-414.0,-1280.0,-729.0,-1419.0,59.0
room_coor_x__max,float64,0.0,2625,462.75,384.0,489.25,-97.31,949.0
room_coor_x__median,float64,0.0,17888,117.0,-178.75,47.39,-1046.0,867.25
room_coor_x__mean,float64,0.0,48290,110.37,-389.09,-176.09,-795.56,703.05
room_coor_x__std,float64,0.0,39104,185.33,592.66,477.4,62.57,887.72
room_coor_x__sum,float64,0.0,67944,3090.27,-23345.22,-2113.09,-129705.47,31990.88
room_coor_x__count,int64,0.0,145,28,60,12,11.0,293.0
room_coor_y__min,float64,0.0,2918,-185.88,-439.75,-281.75,-532.0,138.88
room_coor_y__max,float64,0.0,8377,30.08,319.75,-152.0,-268.25,543.5
room_coor_y__median,float64,0.0,11606,-78.44,-87.84,-173.19,-438.25,436.0
room_coor_y__mean,float64,0.0,28293,-57.35,-57.89,-195.81,-338.11,369.34
room_coor_y__std,float64,0.0,16576,61.76,107.2,46.18,2.8,335.77
room_coor_y__sum,float64,0.0,64587,-1605.85,-3473.37,-2349.75,-34395.72,24910.42
room_coor_y__count,int64,0.0,145,28,60,12,11.0,293.0
screen_coor_x__min,float64,0.0,1287,269.0,123.0,89.0,0.0,1092.0
screen_coor_x__max,float64,0.0,1206,495.0,794.0,590.0,179.0,1886.0
screen_coor_x__median,float64,0.0,1920,412.0,344.0,501.5,16.0,1479.0
screen_coor_x__mean,float64,0.0,27500,413.93,339.32,419.67,69.71,1369.68
screen_coor_x__std,float64,0.0,20032,59.03,182.88,170.58,1.39,455.95
screen_coor_x__sum,float64,0.0,27980,11590.0,20359.0,5036.0,943.0,104497.0
screen_coor_x__count,int64,0.0,145,28,60,12,11.0,293.0
screen_coor_y__min,float64,0.0,1064,316.0,88.0,447.0,0.0,1031.0
screen_coor_y__max,float64,0.0,898,494.0,633.0,564.0,163.0,1414.0
screen_coor_y__median,float64,0.0,1366,382.0,385.0,483.5,10.0,1137.0
screen_coor_y__mean,float64,0.0,22933,372.43,372.55,492.25,71.47,1137.27
screen_coor_y__std,float64,0.0,12717,43.01,82.39,37.18,0.5,273.51
screen_coor_y__sum,float64,0.0,26539,10428.0,22353.0,5907.0,1175.0,116946.0
screen_coor_y__count,int64,0.0,145,28,60,12,11.0,293.0
fullscreen__min,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.0,103,0,0,0,0.0,174.0
fullscreen__count,int64,0.0,145,28,60,12,11.0,293.0
hq__min,int8,0.0,2,0,0,0,0.0,1.0
hq__max,int8,0.0,2,0,0,0,0.0,1.0
hq__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.0,107,0,0,0,0.0,174.0
hq__count,int64,0.0,145,28,60,12,11.0,293.0
music__min,int8,0.0,2,1,1,1,0.0,1.0
music__max,int8,0.0,2,1,1,1,0.0,1.0
music__median,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.0,144,28,60,12,0.0,293.0
music__count,int64,0.0,145,28,60,12,11.0,293.0

### `event_name` == `"map_click"`

In [38]:
event_name = "map_click"
map_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

map_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,129,135990,undefined,3.0,NaN,168.00,-142.250,263.0,417.0,NaN,undefined,tunic.kohlcenter,tunic.historicalsociety.entry,NaN,0,0,1,0-4
1,20090312431273200,162,162438,undefined,4.0,NaN,-538.00,6.000,462.0,324.0,NaN,undefined,tunic.capitol_0,tunic.kohlcenter.halloffame,NaN,0,0,1,0-4
2,20090312431273200,183,228133,undefined,5.0,NaN,456.75,167.125,559.0,198.0,NaN,undefined,tunic.historicalsociety,tunic.capitol_0.hall,NaN,0,0,1,5-12
3,20090312431273200,242,280148,close,6.0,NaN,1111.00,419.500,843.0,72.0,NaN,undefined,NaN,tunic.historicalsociety.entry,NaN,0,0,1,5-12
4,20090312431273200,285,324396,undefined,7.0,NaN,418.50,-201.000,420.0,453.0,NaN,undefined,tunic.humanecology,tunic.historicalsociety.entry,NaN,0,0,1,5-12

In [39]:
map_click__train_data = recategorize_category_typed_fields(map_click__train_data)

summary = summarize_data_info(map_click__train_data)
summary

Data Shape: (517242, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,4287,129,162,183,0.0,20470.0
elapsed_time,int32,0.0,471822,135990,162438,228133,113.0,1988601973.0
name,category,0.0,3,undefined,undefined,undefined,NaN,NaN
level,float16,0.0,19,3.0,4.0,5.0,3.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,17550,168.0,-538.0,456.75,-998.0,1173.0
room_coor_y,float16,0.0,17467,-142.25,6.0,167.125,-918.0,536.5
screen_coor_x,float16,0.0,2721,263.0,462.0,559.0,0.0,1894.0
screen_coor_y,float16,0.0,2386,417.0,324.0,198.0,0.0,1311.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,11,tunic.kohlcenter,tunic.capitol_0,tunic.historicalsociety,NaN,NaN
room_fqid,category,0.0,10,tunic.historicalsociety.entry,tunic.kohlcenter.halloffame,tunic.capitol_0.hall,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,5-12,NaN,NaN

#### OneHot Encoding

- **map_click one_hot_fields**: `name`

In [40]:
onehot_cat_field_str = "name"
map_click__train_data[onehot_cat_field_str].value_counts()

undefined    442532
basic         46087
close         28623
Name: name, dtype: int64

In [41]:
onehot_dict = {
    "is_name__basic": "basic",
    "is_name__close": "close",
    "is_name__undefined": "undefined",
}

In [42]:
map_click__train_data = encode_category_field__onehot(map_click__train_data, onehot_cat_field_str, onehot_dict)
map_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,...,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,is_name__basic,is_name__close,is_name__undefined
0,20090312431273200,129,135990,undefined,3.0,NaN,168.00,-142.250,263.0,417.0,...,tunic.kohlcenter,tunic.historicalsociety.entry,nan,0,0,1,0-4,0,0,1
1,20090312431273200,162,162438,undefined,4.0,NaN,-538.00,6.000,462.0,324.0,...,tunic.capitol_0,tunic.kohlcenter.halloffame,nan,0,0,1,0-4,0,0,1
2,20090312431273200,183,228133,undefined,5.0,NaN,456.75,167.125,559.0,198.0,...,tunic.historicalsociety,tunic.capitol_0.hall,nan,0,0,1,5-12,0,0,1
3,20090312431273200,242,280148,close,6.0,NaN,1111.00,419.500,843.0,72.0,...,nan,tunic.historicalsociety.entry,nan,0,0,1,5-12,0,1,0
4,20090312431273200,285,324396,undefined,7.0,NaN,418.50,-201.000,420.0,453.0,...,tunic.humanecology,tunic.historicalsociety.entry,nan,0,0,1,5-12,0,0,1

In [43]:
summary = summarize_data_info(map_click__train_data)
summary

Data Shape: (517242, 22)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,4287,129,162,183,0.0,20470.0
elapsed_time,int32,0.0,471822,135990,162438,228133,113.0,1988601973.0
name,category,0.0,3,undefined,undefined,undefined,NaN,NaN
level,float16,0.0,19,3.0,4.0,5.0,3.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,17550,168.0,-538.0,456.75,-998.0,1173.0
room_coor_y,float16,0.0,17467,-142.25,6.0,167.125,-918.0,536.5
screen_coor_x,float16,0.0,2721,263.0,462.0,559.0,0.0,1894.0
screen_coor_y,float16,0.0,2386,417.0,324.0,198.0,0.0,1311.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,11,tunic.kohlcenter,tunic.capitol_0,tunic.historicalsociety,NaN,NaN
room_fqid,category,0.0,10,tunic.historicalsociety.entry,tunic.kohlcenter.halloffame,tunic.capitol_0.hall,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,5-12,NaN,NaN
is_name__basic,category,0.0,2,0,0,0,NaN,NaN
is_name__close,category,0.0,2,0,0,0,NaN,NaN
is_name__undefined,category,0.0,2,1,1,1,NaN,NaN

In [44]:
map_click__numeric_fields = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music", 
]

map_click__onehot_encoded_fields = ["is_name__basic", "is_name__close", "is_name__undefined"]

map_click__feature_fields_list = [*map_click__numeric_fields, *map_click__onehot_encoded_fields]

numeric_features__map_click = create_event_features(map_click__train_data, map_click__feature_fields_list).reset_index()
numeric_features__map_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,is_name__close__std,is_name__close__sum,is_name__close__count,is_name__undefined__min,is_name__undefined__max,is_name__undefined__median,is_name__undefined__mean,is_name__undefined__std,is_name__undefined__sum,is_name__undefined__count
0,20090312431273200,0-4,129,162,145.5,145.50,23.33,291,2,135990,...,0.00,0,2,1,1,1.0,1.00,0.00,2,2
1,20090312431273200,13-22,521,929,841.0,791.67,150.72,4750,6,841512,...,0.00,0,6,1,1,1.0,1.00,0.00,6,6
2,20090312431273200,5-12,183,467,345.5,336.75,96.09,2694,8,228133,...,0.35,1,8,0,1,1.0,0.88,0.35,7,8
3,20090312433251036,0-4,104,136,135.0,125.00,18.19,375,3,162990,...,0.00,0,3,0,1,1.0,0.67,0.58,2,3
4,20090312433251036,13-22,584,1873,1066.0,1172.20,331.72,52749,45,1179708,...,0.25,3,45,0,1,1.0,0.76,0.43,34,45

In [45]:
pd.set_option("display.max_rows", 100)

In [46]:
summary = summarize_data_info(numeric_features__map_click)
summary

Data Shape: (70686, 93)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.000000,1352,129,521,183,0.0,18336.0
index__max,int64,0.000000,2426,162,929,467,27.0,20470.0
index__median,float64,0.000000,3495,145.5,841.0,345.5,1.0,20334.0
index__mean,float64,0.000000,25272,145.5,791.67,336.75,15.0,19991.31
index__std,float64,0.000028,18799,23.33,150.72,96.09,9.06,4774.66
index__sum,int64,0.000000,15666,291,4750,2694,30.0,6780473.0
index__count,int64,0.000000,93,2,6,8,1.0,616.0
elapsed_time__min,int64,0.000000,67978,135990,841512,228133,113.0,1188866840.0
elapsed_time__max,int64,0.000000,69376,162438,1269474,496628,708.0,1988601973.0
elapsed_time__median,float64,0.000000,69827,149214.0,1145728.0,373706.5,439.0,1468181969.0
elapsed_time__mean,float64,0.000000,70273,149214.0,1113378.17,370073.25,457.33,1346352079.92
elapsed_time__std,float64,0.000028,67548,18701.56,154966.33,90463.82,232.12,1147043634.58
elapsed_time__sum,int64,0.000000,70252,298428,6680269,2960586,1325.0,46738517988.0
elapsed_time__count,int64,0.000000,93,2,6,8,1.0,616.0
level__min,float64,0.000000,4,3.0,13.0,5.0,3.0,13.0
level__max,float64,0.000000,3,4.0,22.0,12.0,4.0,22.0
level__median,float64,0.000000,34,3.5,19.5,8.5,3.0,22.0
level__mean,float64,0.000000,949,3.5,18.83,8.62,3.05,21.3
level__std,float64,0.000028,308,0.71,3.19,2.56,0.18,4.14
level__sum,float64,0.000000,904,7.0,113.0,69.0,4.0,5292.0
level__count,int64,0.000000,93,2,6,8,1.0,616.0
room_coor_x__min,float64,0.000000,2665,-538.0,-275.25,-385.25,-998.0,106.5
room_coor_x__max,float64,0.000000,3390,168.0,967.0,1111.0,-560.5,1173.0
room_coor_x__median,float64,0.000000,8265,-185.0,424.62,428.25,-972.5,1086.5
room_coor_x__mean,float64,0.000000,30337,-185.0,342.91,363.69,-782.23,875.65
room_coor_x__std,float64,0.000028,25114,499.22,419.24,432.5,170.39,940.74
room_coor_x__sum,float64,0.000000,47706,-370.0,2057.47,2909.55,-51001.03,255743.41
room_coor_x__count,int64,0.000000,93,2,6,8,1.0,616.0
room_coor_y__min,float64,0.000000,3238,-142.25,-341.0,-201.0,-918.0,8.0
room_coor_y__max,float64,0.000000,3487,6.0,216.0,419.5,-50.0,536.5
room_coor_y__median,float64,0.000000,13561,-68.12,23.27,63.06,-906.5,450.38
room_coor_y__mean,float64,0.000000,21704,-68.12,-35.27,96.31,-555.46,347.14
room_coor_y__std,float64,0.000028,21660,104.83,251.09,173.9,31.71,485.5
room_coor_y__sum,float64,0.000000,43805,-136.25,-211.59,770.5,-94428.2,13118.48
room_coor_y__count,int64,0.000000,93,2,6,8,1.0,616.0
screen_coor_x__min,float64,0.000000,993,263.0,325.0,298.0,0.0,771.0
screen_coor_x__max,float64,0.000000,1211,462.0,753.0,843.0,255.0,1894.0
screen_coor_x__median,float64,0.000000,1647,362.5,537.5,497.5,27.33,1398.0
screen_coor_x__mean,float64,0.000000,13449,362.5,557.5,519.12,107.75,1348.68
screen_coor_x__std,float64,0.000028,16505,140.71,169.05,159.76,35.51,594.21
screen_coor_x__sum,float64,0.000000,10925,725.0,3345.0,4153.0,407.0,363753.0
screen_coor_x__count,int64,0.000000,93,2,6,8,1.0,616.0
screen_coor_y__min,float64,0.000000,905,324.0,166.0,72.0,0.0,714.0
screen_coor_y__max,float64,0.000000,837,417.0,539.0,453.0,221.0,1311.0
screen_coor_y__median,float64,0.000000,1181,370.5,258.0,279.5,53.0,838.5
screen_coor_y__mean,float64,0.000000,9648,370.5,284.67,257.62,115.5,838.5
screen_coor_y__std,float64,0.000028,12374,65.76,139.61,109.42,12.73,417.96
screen_coor_y__sum,float64,0.000000,7266,741.0,1708.0,2061.0,322.0,206358.0
screen_coor_y__count,int64,0.000000,93,2,6,8,1.0,616.0
fullscreen__min,int8,0.000000,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.000000,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.000000,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.000000,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.000028,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.000000,66,0,0,0,0.0,142.0
fullscreen__count,int64,0.000000,93,2,6,8,1.0,616.0
hq__min,int8,0.000000,2,0,0,0,0.0,1.0
hq__max,int8,0.000000,2,0,0,0,0.0,1.0
hq__median,float64,0.000000,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.000000,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.000028,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.000000,63,0,0,0,0.0,170.0
hq__count,int64,0.000000,93,2,6,8,1.0,616.0
music__min,int8,0.000000,2,1,1,1,0.0,1.0
music__max,int8,0.000000,2,1,1,1,0.0,1.0
music__median,float64,0.000000,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.000000,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.000028,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.000000,94,2,6,8,0.0,616.0
music__count,int64,0.000000,93,2,6,8,1.0,616.0
is_name__basic__min,int8,0.000000,1,0,0,0,0.0,0.0
is_name__basic__max,int8,0.000000,2,0,0,0,0.0,1.0
is_name__basic__median,float64,0.000000,3,0.0,0.0,0.0,0.0,1.0
is_name__basic__mean,float64,0.000000,88,0.0,0.0,0.0,0.0,0.99
is_name__basic__std,float64,0.000028,45,0.0,0.0,0.0,0.0,0.58
is_name__basic__sum,int64,0.000000,50,0,0,0,0.0,607.0
is_name__basic__count,int64,0.000000,93,2,6,8,1.0,616.0
is_name__close__min,int8,0.000000,1,0,0,0,0.0,0.0
is_name__close__max,int8,0.000000,2,0,0,1,0.0,1.0
is_name__close__median,float64,0.000000,3,0.0,0.0,0.0,0.0,1.0
is_name__close__mean,float64,0.000000,55,0.0,0.0,0.12,0.0,0.83
is_name__close__std,float64,0.000028,46,0.0,0.0,0.35,0.0,0.58
is_name__close__sum,int8,0.000000,13,0,0,1,0.0,12.0
is_name__close__count,int64,0.000000,93,2,6,8,1.0,616.0
is_name__undefined__min,int8,0.000000,2,1,1,0,0.0,1.0
is_name__undefined__max,int8,0.000000,1,1,1,1,1.0,1.0
is_name__undefined__median,float64,0.000000,3,1.0,1.0,1.0,0.0,1.0
is_name__undefined__mean,float64,0.000000,92,1.0,1.0,0.88,0.01,1.0
is_name__undefined__std,float64,0.000028,43,0.0,0.0,0.35,0.0,0.58
is_name__undefined__sum,int8,0.000000,64,2,6,7,1.0,115.0
is_name__undefined__count,int64,0.000000,93,2,6,8,1.0,616.0

### `event_name` == `"map_hover"`

In [47]:
event_name = "map_hover"
map_hover__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

map_hover__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,127,135124,basic,3.0,NaN,NaN,NaN,NaN,NaN,234.0,undefined,tunic.historicalsociety,tunic.historicalsociety.entry,NaN,0,0,1,0-4
1,20090312431273200,128,135256,basic,3.0,NaN,NaN,NaN,NaN,NaN,17.0,undefined,tunic.kohlcenter,tunic.historicalsociety.entry,NaN,0,0,1,0-4
2,20090312431273200,160,161405,basic,4.0,NaN,NaN,NaN,NaN,NaN,250.0,undefined,toentry,tunic.kohlcenter.halloffame,NaN,0,0,1,0-4
3,20090312431273200,161,161822,basic,4.0,NaN,NaN,NaN,NaN,NaN,17.0,undefined,tunic.kohlcenter,tunic.kohlcenter.halloffame,NaN,0,0,1,0-4
4,20090312431273200,182,226643,basic,5.0,NaN,NaN,NaN,NaN,NaN,750.0,undefined,toentry,tunic.capitol_0.hall,NaN,0,0,1,5-12

In [48]:
map_hover__train_data = recategorize_category_typed_fields(map_hover__train_data)

summary = summarize_data_info(map_hover__train_data)
summary

Data Shape: (945159, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,21688,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,3957,127,128,160,0.0,20469.0
elapsed_time,int32,0.0,825536,135124,135256,161405,16.0,1988601273.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,19,3.0,3.0,4.0,3.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
hover_duration,float32,0.0,6455,234.0,17.0,250.0,0.0,239792448.0
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,26,tunic.historicalsociety,tunic.kohlcenter,toentry,NaN,NaN
room_fqid,category,0.0,10,tunic.historicalsociety.entry,tunic.historicalsociety.entry,tunic.kohlcenter.halloffame,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [49]:
map_hover__feature_fields_list = [ "index", "elapsed_time", "level", "hover_duration", "fullscreen", "hq", "music"]

numeric_features__map_hover = create_event_features(map_hover__train_data, map_hover__feature_fields_list).reset_index()
numeric_features__map_hover.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,127.0,161.0,144.0,144.00,19.06,576,4,135124.0,...,0.0,0,4,1.0,1.0,1.0,1.0,0.0,4,4
1,20090312431273200,13-22,516.0,928.0,770.5,711.29,158.11,9958,14,839629.0,...,0.0,0,14,1.0,1.0,1.0,1.0,0.0,14,14
2,20090312431273200,5-12,182.0,466.0,361.0,340.33,106.22,3063,9,226643.0,...,0.0,0,9,1.0,1.0,1.0,1.0,0.0,9,9
3,20090312433251036,0-4,101.0,103.0,102.0,102.00,1.00,306,3,161157.0,...,0.0,0,3,0.0,0.0,0.0,0.0,0.0,0,3
4,20090312433251036,13-22,583.0,1872.0,1085.5,1160.44,316.20,215842,186,1178909.0,...,0.0,0,186,0.0,0.0,0.0,0.0,0.0,0,186

In [50]:
summary = summarize_data_info(numeric_features__map_hover)
summary

Data Shape: (65064, 51)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,21688,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,float64,0.036241,1355,127.0,516.0,182.0,0.0,18333.0
index__max,float64,0.036241,2302,161.0,928.0,466.0,0.0,20469.0
index__median,float64,0.036241,3452,144.0,770.5,361.0,0.0,20330.0
index__mean,float64,0.036241,31752,144.0,711.29,340.33,0.0,19800.16
index__std,float64,0.123432,18777,19.06,158.11,106.22,0.71,7534.93
index__sum,int64,0.000000,24581,576,9958,3063,0.0,1213421.0
index__count,int64,0.000000,202,4,14,9,0.0,381.0
elapsed_time__min,float64,0.036241,60827,135124.0,839629.0,226643.0,16.0,1188865706.0
elapsed_time__max,float64,0.036241,61793,161822.0,1268292.0,495514.0,453.0,1988601273.0
elapsed_time__median,float64,0.036241,61975,148330.5,1086530.5,389751.0,150.0,1468152330.0
elapsed_time__mean,float64,0.036241,62453,148401.75,1028540.64,374638.33,206.33,1391278544.29
elapsed_time__std,float64,0.123432,55448,15256.66,154633.73,100496.53,0.71,1147043242.22
elapsed_time__sum,int64,0.000000,62461,593607,14399569,3371745,0.0,176344199982.0
elapsed_time__count,int64,0.000000,202,4,14,9,0.0,381.0
level__min,float64,0.036241,18,3.0,13.0,5.0,3.0,21.0
level__max,float64,0.036241,12,4.0,22.0,12.0,3.0,22.0
level__median,float64,0.036241,35,3.5,18.5,9.0,3.0,22.0
level__mean,float64,0.036241,1186,3.5,17.07,8.78,3.0,21.55
level__std,float64,0.123432,403,0.58,3.29,2.82,0.0,4.95
level__sum,float64,0.000000,1967,14.0,239.0,79.0,0.0,7609.0
level__count,int64,0.000000,202,4,14,9,0.0,381.0
hover_duration__min,float64,0.036241,1096,17.0,33.0,16.0,0.0,287736.0
hover_duration__max,float64,0.036241,5913,250.0,983.0,750.0,0.0,239792448.0
hover_duration__median,float64,0.036241,2347,125.5,124.5,199.0,0.0,818229.5
hover_duration__mean,float64,0.036241,28361,129.5,257.0,281.44,0.0,9223196.81
hover_duration__std,float64,0.123432,35598,130.07,292.64,249.5,0.0,47027084.45
hover_duration__sum,float64,0.000000,17672,518.0,3598.0,2533.0,0.0,239803117.0
hover_duration__count,int64,0.000000,202,4,14,9,0.0,381.0
fullscreen__min,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
fullscreen__max,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
fullscreen__median,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.123432,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.000000,134,0,0,0,0.0,228.0
fullscreen__count,int64,0.000000,202,4,14,9,0.0,381.0
hq__min,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
hq__max,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
hq__median,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.036241,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.123432,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.000000,127,0,0,0,0.0,381.0
hq__count,int64,0.000000,202,4,14,9,0.0,381.0
music__min,float64,0.036241,2,1.0,1.0,1.0,0.0,1.0
music__max,float64,0.036241,2,1.0,1.0,1.0,0.0,1.0
music__median,float64,0.036241,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.036241,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.123432,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.000000,200,4,14,9,0.0,381.0
music__count,int64,0.000000,202,4,14,9,0.0,381.0

### `event_name` == `"navigate_click"`

In [51]:
event_name = "navigate_click"
navigate_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

navigate_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,10,9133,undefined,0.0,NaN,501.000000,-160.750,605.0,445.0,NaN,undefined,teddy,tunic.historicalsociety.closet,NaN,0,0,1,0-4
1,20090312431273200,12,12030,undefined,0.0,NaN,510.000000,-106.375,614.0,386.0,NaN,undefined,photo,tunic.historicalsociety.closet,NaN,0,0,1,0-4
2,20090312431273200,14,14814,undefined,0.0,NaN,274.000000,-196.750,406.0,486.0,NaN,undefined,NaN,tunic.historicalsociety.closet,NaN,0,0,1,0-4
3,20090312431273200,15,15498,undefined,0.0,NaN,185.750000,-205.750,363.0,492.0,NaN,undefined,NaN,tunic.historicalsociety.closet,NaN,0,0,1,0-4
4,20090312431273200,16,16046,undefined,0.0,NaN,0.583496,-225.750,234.0,510.0,NaN,undefined,NaN,tunic.historicalsociety.closet,NaN,0,0,1,0-4

In [52]:
navigate_click__train_data = recategorize_category_typed_fields(navigate_click__train_data)

summary = summarize_data_info(navigate_click__train_data)
summary

Data Shape: (11326433, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,13859,10,12,14,0.0,20472.0
elapsed_time,int32,0.0,3657724,9133,12030,14814,0.0,1988606704.0
name,category,0.0,1,undefined,undefined,undefined,NaN,NaN
level,float16,0.0,23,0.0,0.0,0.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,28184,501.0,510.0,274.0,-1992.0,1259.0
room_coor_y,float16,0.0,25911,-160.75,-106.375,-196.75,-918.0,536.5
screen_coor_x,float16,0.0,6722,605.0,614.0,406.0,0.0,1919.0
screen_coor_y,float16,0.0,3862,445.0,386.0,486.0,0.0,1440.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,72,teddy,photo,nan,NaN,NaN
room_fqid,category,0.0,19,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [53]:
navigate_click__feature_fields_list = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

In [54]:
numeric_features__navigate_click = create_event_features(navigate_click__train_data, navigate_click__feature_fields_list).reset_index()
numeric_features__navigate_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,10,163,106.0,91.74,48.20,7431,81,9133,...,0.0,0,81,1,1,1.0,1.0,0.0,81,81
1,20090312431273200,13-22,512,930,675.5,698.16,121.01,118687,170,836732,...,0.0,0,170,1,1,1.0,1.0,0.0,170,170
2,20090312431273200,5-12,175,469,286.0,302.64,89.81,31172,103,221485,...,0.0,0,103,1,1,1.0,1.0,0.0,103,103
3,20090312433251036,0-4,13,137,90.0,74.59,42.19,3655,49,5149,...,0.0,0,49,0,0,0.0,0.0,0.0,0,49
4,20090312433251036,13-22,579,1874,1196.0,1197.36,369.63,762719,637,1176483,...,0.0,0,637,0,0,0.0,0.0,0.0,0,637

In [55]:
summary = summarize_data_info(numeric_features__navigate_click)
summary

Data Shape: (70686, 72)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.0,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.0,1319,10,512,175,0.0,18325.0
index__max,int64,0.0,2411,163,930,469,83.0,20472.0
index__median,float64,0.0,3293,106.0,675.5,286.0,33.5,19287.5
index__mean,float64,0.0,42654,91.74,698.16,302.64,46.69,19354.37
index__std,float64,0.0,20163,48.2,121.01,89.81,26.74,4216.07
index__sum,int64,0.0,52823,7431,118687,31172,1296.0,79007976.0
index__count,int64,0.0,1017,81,170,103,25.0,7871.0
elapsed_time__min,int64,0.0,62676,9133,836732,221485,0.0,1188861174.0
elapsed_time__max,int64,0.0,69394,164023,1270708,498894,883.0,1988606704.0
elapsed_time__median,float64,0.0,69491,108090.0,992336.0,325997.0,444.0,1195673030.0
elapsed_time__mean,float64,0.0,70661,94946.0,1017210.41,338484.11,455.01,1190902279.11
elapsed_time__std,float64,0.0,70613,49349.7,126396.72,83797.25,253.87,997521390.84
elapsed_time__sum,int64,0.0,70669,7690626,172925769,34863863,21907.0,476325773866.0
elapsed_time__count,int64,0.0,1017,81,170,103,25.0,7871.0
level__min,float64,0.0,3,0.0,13.0,5.0,0.0,13.0
level__max,float64,0.0,3,4.0,22.0,12.0,4.0,22.0
level__median,float64,0.0,41,3.0,17.0,7.0,0.0,22.0
level__mean,float64,0.0,1058,2.26,17.12,7.82,0.59,20.53
level__std,float64,0.0,260,1.29,2.38,2.19,0.49,3.73
level__sum,float64,0.0,9155,183.0,2910.0,805.0,55.0,75761.0
level__count,int64,0.0,1017,81,170,103,25.0,7871.0
room_coor_x__min,float64,0.0,885,-1013.5,-1874.0,-808.0,-1992.0,-770.0
room_coor_x__max,float64,0.0,620,955.5,1091.0,955.5,287.75,1259.0
room_coor_x__median,float64,0.0,17684,-42.34,-120.41,75.31,-1484.5,471.75
room_coor_x__mean,float64,0.0,35305,-98.14,-245.69,119.39,-822.0,290.59
room_coor_x__std,float64,0.0,29061,434.33,651.54,404.7,298.05,855.49
room_coor_x__sum,float64,0.0,70223,-7949.59,-41767.82,12296.88,-380573.48,118475.09
room_coor_x__count,int64,0.0,1017,81,170,103,25.0,7871.0
room_coor_y__min,float64,0.0,1762,-307.75,-849.0,-331.0,-918.0,-211.88
room_coor_y__max,float64,0.0,2442,198.88,208.0,191.5,71.44,536.5
room_coor_y__median,float64,0.0,7916,-69.38,-132.0,-95.38,-580.0,117.06
room_coor_y__mean,float64,0.0,23731,-80.23,-166.95,-79.25,-452.48,77.41
room_coor_y__std,float64,0.0,20325,113.89,217.1,144.13,50.94,367.36
room_coor_y__sum,float64,0.0,69950,-6498.95,-28381.21,-8162.83,-1520977.28,9767.45
room_coor_y__count,int64,0.0,1017,81,170,103,25.0,7871.0
screen_coor_x__min,float64,0.0,478,11.0,2.0,15.0,0.0,146.0
screen_coor_x__max,float64,0.0,880,811.0,856.0,872.0,441.0,1919.0
screen_coor_x__median,float64,0.0,1821,415.0,430.5,456.0,7.0,1294.0
screen_coor_x__mean,float64,0.0,19222,404.79,437.72,493.77,182.54,1139.38
screen_coor_x__std,float64,0.0,14626,248.5,269.54,243.72,138.76,753.87
screen_coor_x__sum,float64,0.0,54567,32788.0,74413.0,50858.0,5403.0,3620053.0
screen_coor_x__count,int64,0.0,1017,81,170,103,25.0,7871.0
screen_coor_y__min,float64,0.0,714,150.0,167.0,160.0,0.0,495.0
screen_coor_y__max,float64,0.0,724,639.0,659.0,640.0,319.0,1440.0
screen_coor_y__median,float64,0.0,1080,387.0,400.5,403.0,186.0,1018.0
screen_coor_y__mean,float64,0.0,13453,389.74,399.32,394.65,208.03,961.85
screen_coor_y__std,float64,0.0,9771,96.19,98.56,124.42,43.88,320.33
screen_coor_y__sum,float64,0.0,52164,31569.0,67884.0,40649.0,8923.0,3011302.0
screen_coor_y__count,int64,0.0,1017,81,170,103,25.0,7871.0
fullscreen__min,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.0,616,0,0,0,0.0,1436.0
fullscreen__count,int64,0.0,1017,81,170,103,25.0,7871.0
hq__min,int8,0.0,2,0,0,0,0.0,1.0
hq__max,int8,0.0,2,0,0,0,0.0,1.0
hq__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.0,613,0,0,0,0.0,2679.0
hq__count,int64,0.0,1017,81,170,103,25.0,7871.0
music__min,int8,0.0,2,1,1,1,0.0,1.0
music__max,int8,0.0,2,1,1,1,0.0,1.0
music__median,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.0,1009,81,170,103,0.0,7871.0
music__count,int64,0.0,1017,81,170,103,25.0,7871.0

### `event_name` == `"notebook_click"`

In [56]:
event_name = "notebook_click"
notebook_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

notebook_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312433251036,60,60743,open,2.0,0.0,-1112.000,-518.50,30.0,639.0,NaN,undefined,NaN,tunic.historicalsociety.entry,NaN,0,0,0,0-4
1,20090312433251036,61,61761,close,2.0,0.0,73.250,428.25,789.0,58.0,NaN,undefined,NaN,tunic.historicalsociety.entry,NaN,0,0,0,0-4
2,20090312433251036,209,351064,open,6.0,1.0,-490.750,-429.75,61.0,629.0,NaN,undefined,NaN,tunic.historicalsociety.basement,NaN,0,0,0,5-12
3,20090312433251036,210,354779,basic,6.0,1.0,-97.625,-304.25,343.0,539.0,NaN,undefined,NaN,tunic.historicalsociety.basement,NaN,0,0,0,5-12
4,20090312433251036,211,357947,close,6.0,1.0,556.000,342.50,812.0,75.0,NaN,undefined,NaN,tunic.historicalsociety.basement,NaN,0,0,0,5-12

In [57]:
notebook_click__train_data = recategorize_category_typed_fields(notebook_click__train_data)

summary = summarize_data_info(notebook_click__train_data)
summary

Data Shape: (564544, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,20887,20090312433251036,20090312433251036,20090312433251036,20090312433251036.0,22100221145014656.0
index,int16,0.0,6006,60,61,209,0.0,20384.0
elapsed_time,int32,0.0,515782,60743,61761,351064,9183.0,1988605536.0
name,category,0.0,5,open,close,open,NaN,NaN
level,float16,0.0,22,2.0,2.0,6.0,1.0,22.0
page,float16,0.0,7,0.0,0.0,1.0,0.0,6.0
room_coor_x,float16,0.0,15130,-1112.0,73.25,-490.75,-1991.0,1258.0
room_coor_y,float16,0.0,11968,-518.5,428.25,-429.75,-915.5,535.0
screen_coor_x,float16,0.0,3246,30.0,789.0,61.0,0.0,1919.0
screen_coor_y,float16,0.0,2825,639.0,58.0,629.0,0.0,1419.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,1,nan,nan,nan,NaN,NaN
room_fqid,category,0.0,16,tunic.historicalsociety.entry,tunic.historicalsociety.entry,tunic.historicalsociety.basement,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,0,0,0,NaN,NaN
level_group,category,0.0,3,0-4,0-4,5-12,NaN,NaN

#### OneHot Encoding

- **notebook_click one_hot_fields**: `name`

In [58]:
onehot_cat_field_str = "name"
notebook_click__train_data[onehot_cat_field_str].value_counts()

open     235139
close    235132
basic     63416
prev      19250
next      11607
Name: name, dtype: int64

In [59]:
onehot_dict = {
    "is_name__basic": "basic",
    "is_name__open": "open",
    "is_name__close": "close",
    "is_name__prev": "prev",
    "is_name__next": "next",
}

In [60]:
notebook_click__train_data = encode_category_field__onehot(notebook_click__train_data, onehot_cat_field_str, onehot_dict)
notebook_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,...,text_fqid,fullscreen,hq,music,level_group,is_name__basic,is_name__open,is_name__close,is_name__prev,is_name__next
0,20090312433251036,60,60743,open,2.0,0.0,-1112.000,-518.50,30.0,639.0,...,nan,0,0,0,0-4,0,1,0,0,0
1,20090312433251036,61,61761,close,2.0,0.0,73.250,428.25,789.0,58.0,...,nan,0,0,0,0-4,0,0,1,0,0
2,20090312433251036,209,351064,open,6.0,1.0,-490.750,-429.75,61.0,629.0,...,nan,0,0,0,5-12,0,1,0,0,0
3,20090312433251036,210,354779,basic,6.0,1.0,-97.625,-304.25,343.0,539.0,...,nan,0,0,0,5-12,1,0,0,0,0
4,20090312433251036,211,357947,close,6.0,1.0,556.000,342.50,812.0,75.0,...,nan,0,0,0,5-12,0,0,1,0,0

In [61]:
summary = summarize_data_info(notebook_click__train_data)
summary

Data Shape: (564544, 24)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,20887,20090312433251036,20090312433251036,20090312433251036,20090312433251036.0,22100221145014656.0
index,int16,0.0,6006,60,61,209,0.0,20384.0
elapsed_time,int32,0.0,515782,60743,61761,351064,9183.0,1988605536.0
name,category,0.0,5,open,close,open,NaN,NaN
level,float16,0.0,22,2.0,2.0,6.0,1.0,22.0
page,float16,0.0,7,0.0,0.0,1.0,0.0,6.0
room_coor_x,float16,0.0,15130,-1112.0,73.25,-490.75,-1991.0,1258.0
room_coor_y,float16,0.0,11968,-518.5,428.25,-429.75,-915.5,535.0
screen_coor_x,float16,0.0,3246,30.0,789.0,61.0,0.0,1919.0
screen_coor_y,float16,0.0,2825,639.0,58.0,629.0,0.0,1419.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,1,nan,nan,nan,NaN,NaN
room_fqid,category,0.0,16,tunic.historicalsociety.entry,tunic.historicalsociety.entry,tunic.historicalsociety.basement,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,0,0,0,NaN,NaN
level_group,category,0.0,3,0-4,0-4,5-12,NaN,NaN
is_name__basic,category,0.0,2,0,0,0,NaN,NaN
is_name__open,category,0.0,2,1,0,1,NaN,NaN
is_name__close,category,0.0,2,0,1,0,NaN,NaN
is_name__prev,category,0.0,2,0,0,0,NaN,NaN
is_name__next,category,0.0,2,0,0,0,NaN,NaN

In [62]:
notebook_click__numeric_fields = [
    "index", "elapsed_time", "level", "page", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

notebook_click__onehot_encoded_fields = ["is_name__basic", "is_name__open", "is_name__close", "is_name__prev", "is_name__next"]

notebook_click__feature_fields_list = [*notebook_click__numeric_fields, *notebook_click__onehot_encoded_fields]

numeric_features__notebook_click = create_event_features(notebook_click__train_data, notebook_click__feature_fields_list).reset_index()
numeric_features__notebook_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,is_name__prev__std,is_name__prev__sum,is_name__prev__count,is_name__next__min,is_name__next__max,is_name__next__median,is_name__next__mean,is_name__next__std,is_name__next__sum,is_name__next__count
0,20090312433251036,0-4,60.0,61.0,60.5,60.50,0.71,121,2,60743.0,...,0.00,0,2,0.0,0.0,0.0,0.00,0.00,0,2
1,20090312433251036,13-22,638.0,1866.0,1449.0,1408.28,377.69,70414,50,1239444.0,...,0.14,1,50,0.0,1.0,0.0,0.02,0.14,1,50
2,20090312433251036,5-12,209.0,538.0,413.0,361.71,150.68,2532,7,351064.0,...,0.00,0,7,0.0,0.0,0.0,0.00,0.00,0,7
3,20090312455206810,0-4,NaN,NaN,NaN,NaN,NaN,0,0,NaN,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0,0
4,20090312455206810,13-22,521.0,820.0,733.5,694.58,104.43,18059,26,796699.0,...,0.00,0,26,0.0,0.0,0.0,0.00,0.00,0,26

In [63]:
pd.set_option("display.max_rows", 200)

In [64]:
summary = summarize_data_info(numeric_features__notebook_click)
summary

Data Shape: (62661, 114)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,20887,20090312433251036,20090312433251036,20090312433251036,20090312433251036.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,float64,0.219882,1634,60.0,638.0,209.0,0.0,18394.0
index__max,float64,0.219882,2320,61.0,1866.0,538.0,11.0,20384.0
index__median,float64,0.219882,3524,60.5,1449.0,413.0,8.0,20058.0
index__mean,float64,0.219882,23019,60.5,1408.28,361.71,10.5,19941.41
index__std,float64,0.219882,16850,0.71,377.69,150.68,0.71,3634.01
index__sum,int64,0.000000,17665,121,70414,2532,0.0,29832207.0
index__count,int64,0.000000,115,2,50,7,0.0,2588.0
elapsed_time__min,float64,0.219882,48059,60743.0,1239444.0,351064.0,9183.0,1987137011.0
elapsed_time__max,float64,0.219882,48370,61761.0,3757973.0,808529.0,11838.0,1988605536.0
elapsed_time__median,float64,0.219882,48537,61252.0,2997094.0,651200.0,11318.0,1987138034.0
elapsed_time__mean,float64,0.219882,48806,61252.0,2865517.3,568705.86,11318.0,1987138034.0
elapsed_time__std,float64,0.219882,45176,719.83,741505.12,209851.06,14.85,941053754.33
elapsed_time__sum,int64,0.000000,48768,122504,143275865,3980941,0.0,36865029702.0
elapsed_time__count,int64,0.000000,115,2,50,7,0.0,2588.0
level__min,float64,0.219882,22,2.0,15.0,6.0,1.0,22.0
level__max,float64,0.219882,22,2.0,22.0,12.0,1.0,22.0
level__median,float64,0.219882,41,2.0,18.0,11.0,1.0,22.0
level__mean,float64,0.219882,1312,2.0,18.84,9.14,1.0,22.0
level__std,float64,0.219882,369,0.0,1.98,2.97,0.0,4.65
level__sum,float64,0.000000,1269,4.0,942.0,64.0,0.0,23024.0
level__count,int64,0.000000,115,2,50,7,0.0,2588.0
page__min,float64,0.219882,7,0.0,4.0,1.0,0.0,6.0
page__max,float64,0.219882,7,0.0,6.0,3.0,0.0,6.0
page__median,float64,0.219882,13,0.0,5.0,3.0,0.0,6.0
page__mean,float64,0.219882,555,0.0,5.1,2.14,0.0,6.0
page__std,float64,0.219882,230,0.0,0.86,1.07,0.0,2.72
page__sum,float64,0.000000,396,0.0,255.0,15.0,0.0,3800.0
page__count,int64,0.000000,115,2,50,7,0.0,2588.0
room_coor_x__min,float64,0.219882,4149,-1112.0,-1537.0,-490.75,-1991.0,209.5
room_coor_x__max,float64,0.219882,4214,73.25,1206.0,795.0,-1098.0,1258.0
room_coor_x__median,float64,0.219882,20528,-519.38,-186.5,-97.62,-1926.0,1178.0
room_coor_x__mean,float64,0.219882,32618,-519.38,-81.57,90.3,-1773.6,848.25
room_coor_x__std,float64,0.219882,26976,838.1,579.26,599.83,168.24,1360.07
room_coor_x__sum,float64,0.000000,37112,-1038.75,-4078.62,632.12,-83481.41,79379.39
room_coor_x__count,int64,0.000000,115,2,50,7,0.0,2588.0
room_coor_y__min,float64,0.219882,1582,-518.5,-770.5,-508.5,-915.5,-253.75
room_coor_y__max,float64,0.219882,2420,428.25,433.0,390.5,-185.88,535.0
room_coor_y__median,float64,0.219882,12144,-45.12,-31.67,-304.25,-880.0,454.0
room_coor_y__mean,float64,0.219882,20373,-45.12,-32.28,-89.43,-797.79,301.85
room_coor_y__std,float64,0.219882,20287,669.45,347.29,435.08,102.9,714.18
room_coor_y__sum,float64,0.000000,24932,-90.25,-1614.09,-626.0,-289061.96,7919.25
room_coor_y__count,int64,0.000000,115,2,50,7,0.0,2588.0
screen_coor_x__min,float64,0.219882,412,30.0,25.0,48.0,0.0,80.0
screen_coor_x__max,float64,0.219882,849,789.0,856.0,822.0,419.0,1919.0
screen_coor_x__median,float64,0.219882,2160,409.5,567.5,343.0,15.0,1849.0
screen_coor_x__mean,float64,0.219882,11964,409.5,460.84,422.71,106.82,1120.27
screen_coor_x__std,float64,0.219882,13101,536.69,369.51,381.33,165.19,1301.78
screen_coor_x__sum,float64,0.000000,13095,819.0,23042.0,2959.0,0.0,1687664.0
screen_coor_x__count,int64,0.000000,115,2,50,7,0.0,2588.0
screen_coor_y__min,float64,0.219882,416,58.0,29.0,75.0,0.0,100.0
screen_coor_y__max,float64,0.219882,631,639.0,638.0,637.0,319.0,1419.0
screen_coor_y__median,float64,0.219882,1672,348.5,141.5,539.0,20.0,1378.5
screen_coor_y__mean,float64,0.219882,11359,348.5,328.9,383.71,107.86,1149.11
screen_coor_y__std,float64,0.219882,11559,410.83,262.34,282.0,104.03,939.74
screen_coor_y__sum,float64,0.000000,12045,697.0,16445.0,2686.0,0.0,1059808.0
screen_coor_y__count,int64,0.000000,115,2,50,7,0.0,2588.0
fullscreen__min,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
fullscreen__max,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
fullscreen__median,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.000000,79,0,0,0,0.0,133.0
fullscreen__count,int64,0.000000,115,2,50,7,0.0,2588.0
hq__min,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
hq__max,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
hq__median,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.000000,85,0,0,0,0.0,133.0
hq__count,int64,0.000000,115,2,50,7,0.0,2588.0
music__min,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
music__max,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
music__median,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
music__mean,float64,0.219882,2,0.0,0.0,0.0,0.0,1.0
music__std,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.000000,115,0,0,0,0.0,2588.0
music__count,int64,0.000000,115,2,50,7,0.0,2588.0
is_name__basic__min,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__basic__max,float64,0.219882,2,0.0,1.0,1.0,0.0,1.0
is_name__basic__median,float64,0.219882,3,0.0,0.0,0.0,0.0,1.0
is_name__basic__mean,float64,0.219882,89,0.0,0.2,0.14,0.0,0.98
is_name__basic__std,float64,0.219882,46,0.0,0.4,0.38,0.0,0.58
is_name__basic__sum,int64,0.000000,52,0,10,1,0.0,2547.0
is_name__basic__count,int64,0.000000,115,2,50,7,0.0,2588.0
is_name__open__min,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__open__max,float64,0.219882,1,1.0,1.0,1.0,1.0,1.0
is_name__open__median,float64,0.219882,3,0.5,0.0,0.0,0.0,1.0
is_name__open__mean,float64,0.219882,52,0.5,0.38,0.43,0.0,0.67
is_name__open__std,float64,0.219882,39,0.71,0.49,0.53,0.07,0.71
is_name__open__sum,int8,0.000000,41,1,19,3,0.0,44.0
is_name__open__count,int64,0.000000,115,2,50,7,0.0,2588.0
is_name__close__min,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__close__max,float64,0.219882,1,1.0,1.0,1.0,1.0,1.0
is_name__close__median,float64,0.219882,2,0.5,0.0,0.0,0.0,0.5
is_name__close__mean,float64,0.219882,49,0.5,0.38,0.43,0.0,0.5
is_name__close__std,float64,0.219882,39,0.71,0.49,0.53,0.07,0.71
is_name__close__sum,int8,0.000000,41,1,19,3,0.0,44.0
is_name__close__count,int64,0.000000,115,2,50,7,0.0,2588.0
is_name__prev__min,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__prev__max,float64,0.219882,2,0.0,1.0,0.0,0.0,1.0
is_name__prev__median,float64,0.219882,3,0.0,0.0,0.0,0.0,1.0
is_name__prev__mean,float64,0.219882,60,0.0,0.02,0.0,0.0,0.75
is_name__prev__std,float64,0.219882,47,0.0,0.14,0.0,0.0,0.58
is_name__prev__sum,int8,0.000000,33,0,1,0,0.0,112.0
is_name__prev__count,int64,0.000000,115,2,50,7,0.0,2588.0
is_name__next__min,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__next__max,float64,0.219882,2,0.0,1.0,0.0,0.0,1.0
is_name__next__median,float64,0.219882,1,0.0,0.0,0.0,0.0,0.0
is_name__next__mean,float64,0.219882,42,0.0,0.02,0.0,0.0,0.43
is_name__next__std,float64,0.219882,47,0.0,0.14,0.0,0.0,0.58
is_name__next__sum,int8,0.000000,25,0,1,0,0.0,42.0
is_name__next__count,int64,0.000000,115,2,50,7,0.0,2588.0

### `event_name` == `"notification_click"`

In [65]:
event_name = "notification_click"
notification_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

notification_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,26,24348,basic,0.0,NaN,-472.250,-117.93750,554.0,394.0,NaN,Found it!,NaN,tunic.historicalsociety.closet,tunic.historicalsociety.closet.notebook,0,0,1,0-4
1,20090312431273200,29,32229,basic,1.0,NaN,-182.500,-1.90625,767.0,305.0,NaN,Gramps is in trouble for losing papers?,NaN,tunic.historicalsociety.closet,tunic.historicalsociety.closet.retirement_lett...,0,0,1,0-4
2,20090312431273200,30,33063,basic,1.0,NaN,-182.500,-55.87500,767.0,359.0,NaN,This can't be right!,NaN,tunic.historicalsociety.closet,tunic.historicalsociety.closet.retirement_lett...,0,0,1,0-4
3,20090312431273200,31,34245,basic,1.0,NaN,-182.500,-55.87500,767.0,359.0,NaN,Gramps is a great historian!,NaN,tunic.historicalsociety.closet,tunic.historicalsociety.closet.retirement_lett...,0,0,1,0-4
4,20090312431273200,85,89809,basic,2.0,NaN,-86.875,-96.81250,355.0,397.0,NaN,This looks like a clue!,NaN,tunic.historicalsociety.collection,tunic.historicalsociety.collection.tunic.slip,0,0,1,0-4

In [66]:
notification_click__train_data = recategorize_category_typed_fields(notification_click__train_data)

summary = summarize_data_info(notification_click__train_data)
summary

Data Shape: (649001, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,3457,26,29,30,0.0,20458.0
elapsed_time,int32,0.0,552331,24348,32229,33063,82.0,1988525224.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,20,0.0,1.0,1.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,15642,-472.25,-182.5,-182.5,-1022.5,1262.0
room_coor_y,float16,0.0,13756,-117.9375,-1.90625,-55.875,-812.0,536.5
screen_coor_x,float16,0.0,2871,554.0,767.0,767.0,0.0,1906.0
screen_coor_y,float16,0.0,2303,394.0,305.0,359.0,0.0,1420.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,30,Found it!,Gramps is in trouble for losing papers?,This can't be right!,NaN,NaN
fqid,category,0.0,1,nan,nan,nan,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.0,17,tunic.historicalsociety.closet.notebook,tunic.historicalsociety.closet.retirement_lett...,tunic.historicalsociety.closet.retirement_lett...,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [67]:
notification_click__feature_fields_list = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

numeric_features__notification_click = create_event_features(notification_click__train_data, notification_click__feature_fields_list).reset_index()
numeric_features__notification_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,26,146,58.0,72.25,51.52,578,8,24348,...,0.0,0,8,1,1,1.0,1.0,0.0,8,8
1,20090312431273200,13-22,598,922,813.0,766.60,149.22,7666,10,909809,...,0.0,0,10,1,1,1.0,1.0,0.0,10,10
2,20090312431273200,5-12,313,458,384.0,393.56,53.21,3542,9,346295,...,0.0,0,9,1,1,1.0,1.0,0.0,9,9
3,20090312433251036,0-4,21,122,76.0,83.00,41.60,415,5,12113,...,0.0,0,5,0,0,0.0,0.0,0.0,0,5
4,20090312433251036,13-22,753,1837,1121.5,1323.07,388.31,18523,14,1481128,...,0.0,0,14,0,0,0.0,0.0,0.0,0,14

In [68]:
summary = summarize_data_info(numeric_features__notification_click)
summary

Data Shape: (70686, 72)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.0,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.0,1717,26,598,313,0.0,19694.0
index__max,int64,0.0,2375,146,922,458,64.0,20458.0
index__median,float64,0.0,3889,58.0,813.0,384.0,12.0,20451.0
index__mean,float64,0.0,23966,72.25,766.6,393.56,36.83,20302.33
index__std,float64,0.0,20032,51.52,149.22,53.21,20.8,2825.41
index__sum,int64,0.0,15120,578,7666,3542,221.0,365906.0
index__count,int64,0.0,53,8,10,9,5.0,96.0
elapsed_time__min,int64,0.0,65185,24348,909809,346295,82.0,1195638449.0
elapsed_time__max,int64,0.0,69306,152721,1261975,488414,713.0,1988525224.0
elapsed_time__median,float64,0.0,69433,62027.0,1124846.5,412767.0,419.0,1987082413.0
elapsed_time__mean,float64,0.0,70565,76331.62,1089732.0,424080.11,402.33,1196012537.0
elapsed_time__std,float64,0.0,70586,53915.72,161758.48,52590.82,212.42,1007477613.88
elapsed_time__sum,int64,0.0,70454,610653,10897320,3816721,2615.0,25836640659.0
elapsed_time__count,int64,0.0,53,8,10,9,5.0,96.0
level__min,float64,0.0,9,0.0,15.0,7.0,0.0,18.0
level__max,float64,0.0,6,3.0,21.0,11.0,2.0,22.0
level__median,float64,0.0,29,1.5,18.5,9.0,0.0,22.0
level__mean,float64,0.0,491,1.62,18.0,9.33,0.59,21.64
level__std,float64,0.0,254,1.06,2.75,1.5,0.42,3.81
level__sum,float64,0.0,468,13.0,180.0,84.0,6.0,2013.0
level__count,int64,0.0,53,8,10,9,5.0,96.0
room_coor_x__min,float64,0.0,6386,-472.25,-269.25,-200.5,-1022.5,414.5
room_coor_x__max,float64,0.0,3488,523.5,1011.5,256.25,-155.62,1262.0
room_coor_x__median,float64,0.0,17345,-134.69,126.25,-33.16,-812.0,668.0
room_coor_x__mean,float64,0.0,38237,-13.46,160.92,6.69,-548.76,560.25
room_coor_x__std,float64,0.0,36510,354.45,408.1,167.69,9.38,744.39
room_coor_x__sum,float64,0.0,58246,-107.72,1609.22,60.19,-8429.38,14568.48
room_coor_x__count,int64,0.0,53,8,10,9,5.0,96.0
room_coor_y__min,float64,0.0,3095,-117.94,-410.75,-134.25,-812.0,228.0
room_coor_y__max,float64,0.0,7365,-1.91,460.25,12.0,-321.0,536.5
room_coor_y__median,float64,0.0,9396,-93.94,-66.75,-122.0,-481.0,301.38
room_coor_y__mean,float64,0.0,27645,-80.18,-42.91,-80.76,-433.66,317.7
room_coor_y__std,float64,0.0,23036,39.7,302.49,67.06,4.72,395.95
room_coor_y__sum,float64,0.0,47196,-641.47,-429.12,-726.84,-13244.69,2655.56
room_coor_y__count,int64,0.0,53,8,10,9,5.0,96.0
screen_coor_x__min,float64,0.0,1305,355.0,218.0,251.0,0.0,1063.0
screen_coor_x__max,float64,0.0,1187,767.0,859.0,687.0,242.75,1906.0
screen_coor_x__median,float64,0.0,1723,544.0,490.5,414.0,26.0,1661.5
screen_coor_x__mean,float64,0.0,16415,582.5,533.4,413.11,119.5,1446.21
screen_coor_x__std,float64,0.0,22080,168.86,219.27,178.38,0.0,513.38
screen_coor_x__sum,float64,0.0,8967,4660.0,5334.0,3718.0,682.75,39764.0
screen_coor_x__count,int64,0.0,53,8,10,9,5.0,96.0
screen_coor_y__min,float64,0.0,1052,305.0,47.0,318.0,0.0,977.0
screen_coor_y__max,float64,0.0,993,442.0,551.0,466.0,90.0,1420.0
screen_coor_y__median,float64,0.0,1614,393.5,366.5,452.0,27.0,1244.0
screen_coor_y__mean,float64,0.0,14345,386.12,340.5,411.0,52.0,1210.58
screen_coor_y__std,float64,0.0,17359,45.21,172.07,68.05,2.32,414.97
screen_coor_y__sum,float64,0.0,7697,3089.0,3405.0,3699.0,272.0,37950.0
screen_coor_y__count,int64,0.0,53,8,10,9,5.0,96.0
fullscreen__min,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int8,0.0,35,0,0,0,0.0,79.0
fullscreen__count,int64,0.0,53,8,10,9,5.0,96.0
hq__min,int8,0.0,2,0,0,0,0.0,1.0
hq__max,int8,0.0,2,0,0,0,0.0,1.0
hq__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int8,0.0,37,0,0,0,0.0,79.0
hq__count,int64,0.0,53,8,10,9,5.0,96.0
music__min,int8,0.0,2,1,1,1,0.0,1.0
music__max,int8,0.0,2,1,1,1,0.0,1.0
music__median,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
music__sum,int8,0.0,53,8,10,9,0.0,96.0
music__count,int64,0.0,53,8,10,9,5.0,96.0

### `event_name` == `"object_click"`

In [69]:
event_name = "object_click"
object_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

object_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,27,25766,close,0.0,NaN,-206.5,199.125,822.0,76.0,NaN,undefined,notebook,tunic.historicalsociety.closet,NaN,0,0,1,0-4
1,20090312431273200,32,36433,close,1.0,NaN,-113.5,241.125,836.0,62.0,NaN,undefined,retirement_letter,tunic.historicalsociety.closet,NaN,0,0,1,0-4
2,20090312431273200,50,57277,basic,1.0,NaN,856.5,69.750,839.0,291.0,NaN,undefined,report,tunic.historicalsociety.entry,NaN,0,0,1,0-4
3,20090312431273200,51,58244,close,1.0,NaN,848.0,402.000,834.0,87.0,NaN,undefined,report,tunic.historicalsociety.entry,NaN,0,0,1,0-4
4,20090312431273200,68,73927,close,2.0,NaN,439.0,416.000,833.0,74.0,NaN,undefined,directory,tunic.historicalsociety.entry,NaN,0,0,1,0-4

In [70]:
object_click__train_data = recategorize_category_typed_fields(object_click__train_data)

summary = summarize_data_info(object_click__train_data)
summary

Data Shape: (2198211, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,6981,27,32,50,0.0,20462.0
elapsed_time,int32,0.0,1494730,25766,36433,57277,0.0,1988526677.0
name,category,0.0,2,close,close,basic,NaN,NaN
level,float16,0.0,23,0.0,1.0,1.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,17563,-206.5,-113.5,856.5,-1020.5,1249.0
room_coor_y,float16,0.0,17191,199.125,241.125,69.75,-811.0,543.5
screen_coor_x,float16,0.0,4285,822.0,836.0,839.0,0.0,1919.0
screen_coor_y,float16,0.0,4224,76.0,62.0,291.0,0.0,1417.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,54,notebook,retirement_letter,report,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.entry,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

#### OneHot Encoding

- **object_click one_hot_fields**: `name`

In [71]:
onehot_cat_field_str = "name"
object_click__train_data[onehot_cat_field_str].value_counts()

basic    1785270
close     412941
Name: name, dtype: int64

In [72]:
onehot_dict = {
    "is_name__basic": "basic",
    "is_name__close": "close",
}

In [73]:
object_click__train_data = encode_category_field__onehot(object_click__train_data, onehot_cat_field_str, onehot_dict)
object_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,...,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,is_name__basic,is_name__close
0,20090312431273200,27,25766,close,0.0,NaN,-206.5,199.125,822.0,76.0,...,undefined,notebook,tunic.historicalsociety.closet,nan,0,0,1,0-4,0,1
1,20090312431273200,32,36433,close,1.0,NaN,-113.5,241.125,836.0,62.0,...,undefined,retirement_letter,tunic.historicalsociety.closet,nan,0,0,1,0-4,0,1
2,20090312431273200,50,57277,basic,1.0,NaN,856.5,69.750,839.0,291.0,...,undefined,report,tunic.historicalsociety.entry,nan,0,0,1,0-4,1,0
3,20090312431273200,51,58244,close,1.0,NaN,848.0,402.000,834.0,87.0,...,undefined,report,tunic.historicalsociety.entry,nan,0,0,1,0-4,0,1
4,20090312431273200,68,73927,close,2.0,NaN,439.0,416.000,833.0,74.0,...,undefined,directory,tunic.historicalsociety.entry,nan,0,0,1,0-4,0,1

In [74]:
summary = summarize_data_info(object_click__train_data)
summary

Data Shape: (2198211, 21)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,6981,27,32,50,0.0,20462.0
elapsed_time,int32,0.0,1494730,25766,36433,57277,0.0,1988526677.0
name,category,0.0,2,close,close,basic,NaN,NaN
level,float16,0.0,23,0.0,1.0,1.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,17563,-206.5,-113.5,856.5,-1020.5,1249.0
room_coor_y,float16,0.0,17191,199.125,241.125,69.75,-811.0,543.5
screen_coor_x,float16,0.0,4285,822.0,836.0,839.0,0.0,1919.0
screen_coor_y,float16,0.0,4224,76.0,62.0,291.0,0.0,1417.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,54,notebook,retirement_letter,report,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.entry,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN
is_name__basic,category,0.0,2,0,0,1,NaN,NaN
is_name__close,category,0.0,2,1,1,0,NaN,NaN

In [75]:
object_click__numeric_fields = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

object_click__onehot_encoded_fields = ["is_name__basic", "is_name__close"]

object_click__feature_fields_list = [*object_click__numeric_fields, *object_click__onehot_encoded_fields]

numeric_features__object_click = create_event_features(object_click__train_data, object_click__feature_fields_list).reset_index()
numeric_features__object_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,is_name__basic__std,is_name__basic__sum,is_name__basic__count,is_name__close__min,is_name__close__max,is_name__close__median,is_name__close__mean,is_name__close__std,is_name__close__sum,is_name__close__count
0,20090312431273200,0-4,27,149,83.0,83.91,45.02,923,11,25766,...,0.52,5,11,0,1,1.0,0.55,0.52,6,11
1,20090312431273200,13-22,597,924,857.0,820.75,102.73,16415,20,909078,...,0.44,15,20,0,1,0.0,0.25,0.44,5,20
2,20090312431273200,5-12,305,460,366.0,373.89,53.21,10469,28,339994,...,0.39,23,28,0,1,0.0,0.18,0.39,5,28
3,20090312433251036,0-4,22,124,112.0,94.20,34.01,1413,15,13148,...,0.46,11,15,0,1,0.0,0.27,0.46,4,15
4,20090312433251036,13-22,744,1861,1309.0,1406.34,324.27,116726,83,1452629,...,0.41,66,83,0,1,0.0,0.20,0.41,17,83

In [76]:
pd.set_option("display.max_rows", 200)

In [77]:
summary = summarize_data_info(numeric_features__object_click)
summary

Data Shape: (70686, 86)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.0,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.0,1607,27,597,305,0.0,19686.0
index__max,int64,0.0,2382,149,924,460,66.0,20462.0
index__median,float64,0.0,3800,83.0,857.0,366.0,14.0,20281.0
index__mean,float64,0.0,43099,83.91,820.75,373.89,40.0,20152.27
index__std,float64,0.0,17662,45.02,102.73,53.21,18.33,2437.95
index__sum,int64,0.0,33099,923,16415,10469,240.0,37472305.0
index__count,int64,0.0,356,11,20,28,6.0,2709.0
elapsed_time__min,int64,0.0,65478,25766,909078,339994,0.0,1195530470.0
elapsed_time__max,int64,0.0,69355,154188,1262857,489662,800.0,1988526677.0
elapsed_time__median,float64,0.0,69619,87877.0,1180090.5,394685.0,488.5,1746700662.0
elapsed_time__mean,float64,0.0,70652,88952.0,1146355.0,404622.54,406.75,1195901857.67
elapsed_time__std,float64,0.0,70564,45669.22,113081.6,51863.89,236.02,1006542201.18
elapsed_time__sum,int64,0.0,70591,978472,22927100,11329431,3254.0,114964098295.0
elapsed_time__count,int64,0.0,356,11,20,28,6.0,2709.0
level__min,float64,0.0,12,0.0,15.0,7.0,0.0,18.0
level__max,float64,0.0,7,3.0,21.0,11.0,2.0,22.0
level__median,float64,0.0,36,2.0,19.5,8.5,0.0,22.0
level__mean,float64,0.0,1051,1.82,18.9,8.79,0.58,21.13
level__std,float64,0.0,317,0.98,1.92,1.52,0.29,3.87
level__sum,float64,0.0,2385,20.0,378.0,246.0,7.0,26417.0
level__count,int64,0.0,356,11,20,28,6.0,2709.0
room_coor_x__min,float64,0.0,2667,-206.5,-269.25,-243.62,-1020.5,71.12
room_coor_x__max,float64,0.0,977,856.5,1164.0,498.75,436.75,1249.0
room_coor_x__median,float64,0.0,10067,523.5,206.0,241.75,-681.5,1038.0
room_coor_x__mean,float64,0.0,31437,399.61,221.13,213.3,-414.38,829.96
room_coor_x__std,float64,0.0,30250,390.22,439.18,204.08,112.2,715.63
room_coor_x__sum,float64,0.0,65690,4395.66,4422.68,5972.31,-81118.74,345289.36
room_coor_x__count,int64,0.0,356,11,20,28,6.0,2709.0
room_coor_y__min,float64,0.0,2702,-112.0,-410.75,-223.0,-811.0,-84.0
room_coor_y__max,float64,0.0,1073,416.0,473.25,338.75,235.75,543.5
room_coor_y__median,float64,0.0,11377,241.12,22.75,-5.5,-586.5,394.0
room_coor_y__mean,float64,0.0,27845,185.58,-17.43,21.93,-428.4,332.83
room_coor_y__std,float64,0.0,18671,191.04,245.92,161.74,78.9,376.66
room_coor_y__sum,float64,0.0,59627,2041.38,-348.58,614.0,-58516.88,29766.14
room_coor_y__count,int64,0.0,356,11,20,28,6.0,2709.0
screen_coor_x__min,float64,0.0,1226,403.0,119.0,121.0,0.0,1116.0
screen_coor_x__max,float64,0.0,898,843.0,839.0,835.0,427.0,1919.0
screen_coor_x__median,float64,0.0,1771,822.0,614.0,672.5,55.0,1874.0
screen_coor_x__mean,float64,0.0,23205,708.18,550.05,609.14,265.42,1682.0
screen_coor_x__std,float64,0.0,16252,172.89,240.96,197.22,72.43,643.47
screen_coor_x__sum,float64,0.0,29095,7790.0,11001.0,17056.0,3282.0,1470369.0
screen_coor_x__count,int64,0.0,356,11,20,28,6.0,2709.0
screen_coor_y__min,float64,0.0,485,60.0,24.0,50.0,0.0,97.0
screen_coor_y__max,float64,0.0,824,442.0,553.0,553.0,255.0,1417.0
screen_coor_y__median,float64,0.0,1477,87.0,302.5,335.5,41.0,897.5
screen_coor_y__mean,float64,0.0,20713,186.82,288.8,311.21,92.75,815.65
screen_coor_y__std,float64,0.0,14067,153.06,171.89,156.93,57.95,525.7
screen_coor_y__sum,float64,0.0,23417,2055.0,5776.0,8714.0,712.0,921880.0
screen_coor_y__count,int64,0.0,356,11,20,28,6.0,2709.0
fullscreen__min,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.0,204,0,0,0,0.0,412.0
fullscreen__count,int64,0.0,356,11,20,28,6.0,2709.0
hq__min,int8,0.0,2,0,0,0,0.0,1.0
hq__max,int8,0.0,2,0,0,0,0.0,1.0
hq__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.0,205,0,0,0,0.0,556.0
hq__count,int64,0.0,356,11,20,28,6.0,2709.0
music__min,int8,0.0,2,1,1,1,0.0,1.0
music__max,int8,0.0,2,1,1,1,0.0,1.0
music__median,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.0,354,11,20,28,0.0,2709.0
music__count,int64,0.0,356,11,20,28,6.0,2709.0
is_name__basic__min,int8,0.0,1,0,0,0,0.0,0.0
is_name__basic__max,int8,0.0,1,1,1,1,1.0,1.0
is_name__basic__median,float64,0.0,3,0.0,1.0,1.0,0.0,1.0
is_name__basic__mean,float64,0.0,75,0.45,0.75,0.82,0.18,1.0
is_name__basic__std,float64,0.0,47,0.52,0.44,0.39,0.05,0.53
is_name__basic__sum,int64,0.0,355,5,15,23,2.0,2702.0
is_name__basic__count,int64,0.0,356,11,20,28,6.0,2709.0
is_name__close__min,int8,0.0,1,0,0,0,0.0,0.0
is_name__close__max,int8,0.0,1,1,1,1,1.0,1.0
is_name__close__median,float64,0.0,3,1.0,0.0,0.0,0.0,1.0
is_name__close__mean,float64,0.0,75,0.55,0.25,0.18,0.0,0.82
is_name__close__std,float64,0.0,47,0.52,0.44,0.39,0.05,0.53
is_name__close__sum,int8,0.0,26,6,5,5,3.0,32.0
is_name__close__count,int64,0.0,356,11,20,28,6.0,2709.0

In [78]:
object_click__numeric_fields = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

### `event_name` == `"object_hover"`

In [79]:
event_name = "object_hover"
object_hover__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

object_hover__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,49,52328,basic,1.0,NaN,NaN,NaN,NaN,NaN,7899.0,undefined,groupconvo,tunic.historicalsociety.entry,NaN,0,0,1,0-4
1,20090312431273200,82,87242,basic,2.0,NaN,NaN,NaN,NaN,NaN,400.0,undefined,tunic,tunic.historicalsociety.collection,NaN,0,0,1,0-4
2,20090312431273200,87,92242,undefined,2.0,NaN,NaN,NaN,NaN,NaN,3949.0,undefined,tunic.hub.slip,tunic.historicalsociety.collection,NaN,0,0,1,0-4
3,20090312431273200,148,153655,undefined,3.0,NaN,NaN,NaN,NaN,NaN,6350.0,undefined,plaque.face.date,tunic.kohlcenter.halloffame,NaN,0,0,1,0-4
4,20090312431273200,303,338929,undefined,7.0,NaN,NaN,NaN,NaN,NaN,68.0,undefined,businesscards.card_0.next,tunic.humanecology.frontdesk,NaN,0,0,1,5-12

In [80]:
object_hover__train_data = recategorize_category_typed_fields(object_hover__train_data)

summary = summarize_data_info(object_hover__train_data)
summary

Data Shape: (1057085, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,21690,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,3598,49,82,87,0.0,20461.0
elapsed_time,int32,0.0,879279,52328,87242,92242,29.0,1988525877.0
name,category,0.0,2,basic,basic,undefined,NaN,NaN
level,float16,0.0,23,1.0,2.0,2.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
hover_duration,float32,0.0,23586,7899.0,400.0,3949.0,0.0,245163696.0
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,76,groupconvo,tunic,tunic.hub.slip,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.entry,tunic.historicalsociety.collection,tunic.historicalsociety.collection,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

#### OneHot Encoding

- **object_hover one_hot_fields**: `name`

In [81]:
onehot_cat_field_str = "name"
object_hover__train_data[onehot_cat_field_str].value_counts()

undefined    936820
basic        120265
Name: name, dtype: int64

In [82]:
onehot_dict = {
    "is_name__basic": "basic",
    "is_name__undefined": "undefined",
}

In [83]:
object_hover__train_data = encode_category_field__onehot(object_hover__train_data, onehot_cat_field_str, onehot_dict)
object_hover__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,...,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,is_name__basic,is_name__undefined
0,20090312431273200,49,52328,basic,1.0,NaN,NaN,NaN,NaN,NaN,...,undefined,groupconvo,tunic.historicalsociety.entry,nan,0,0,1,0-4,1,0
1,20090312431273200,82,87242,basic,2.0,NaN,NaN,NaN,NaN,NaN,...,undefined,tunic,tunic.historicalsociety.collection,nan,0,0,1,0-4,1,0
2,20090312431273200,87,92242,undefined,2.0,NaN,NaN,NaN,NaN,NaN,...,undefined,tunic.hub.slip,tunic.historicalsociety.collection,nan,0,0,1,0-4,0,1
3,20090312431273200,148,153655,undefined,3.0,NaN,NaN,NaN,NaN,NaN,...,undefined,plaque.face.date,tunic.kohlcenter.halloffame,nan,0,0,1,0-4,0,1
4,20090312431273200,303,338929,undefined,7.0,NaN,NaN,NaN,NaN,NaN,...,undefined,businesscards.card_0.next,tunic.humanecology.frontdesk,nan,0,0,1,5-12,0,1

In [84]:
summary = summarize_data_info(object_hover__train_data)
summary

Data Shape: (1057085, 21)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,21690,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,3598,49,82,87,0.0,20461.0
elapsed_time,int32,0.0,879279,52328,87242,92242,29.0,1988525877.0
name,category,0.0,2,basic,basic,undefined,NaN,NaN
level,float16,0.0,23,1.0,2.0,2.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_x,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
screen_coor_y,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
hover_duration,float32,0.0,23586,7899.0,400.0,3949.0,0.0,245163696.0
text,category,0.0,1,undefined,undefined,undefined,NaN,NaN
fqid,category,0.0,76,groupconvo,tunic,tunic.hub.slip,NaN,NaN
room_fqid,category,0.0,11,tunic.historicalsociety.entry,tunic.historicalsociety.collection,tunic.historicalsociety.collection,NaN,NaN
text_fqid,category,0.0,1,nan,nan,nan,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN
is_name__basic,category,0.0,2,1,1,0,NaN,NaN
is_name__undefined,category,0.0,2,0,0,1,NaN,NaN

In [85]:
object_hover__numeric_fields = [
    "index", "elapsed_time", "level", "hover_duration", "fullscreen", "hq", "music"
]

object_hover__onehot_encoded_fields = ["is_name__basic", "is_name__undefined"]

object_hover__feature_fields_list = [*object_hover__numeric_fields, *object_hover__onehot_encoded_fields]

numeric_features__object_hover = create_event_features(object_hover__train_data, object_hover__feature_fields_list).reset_index()
numeric_features__object_hover.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,is_name__basic__std,is_name__basic__sum,is_name__basic__count,is_name__undefined__min,is_name__undefined__max,is_name__undefined__median,is_name__undefined__mean,is_name__undefined__std,is_name__undefined__sum,is_name__undefined__count
0,20090312431273200,0-4,49.0,148.0,84.5,91.50,41.27,366,4,52328.0,...,0.58,2,4,0.0,1.0,0.5,0.50,0.58,2,4
1,20090312431273200,13-22,595.0,923.0,875.0,807.08,130.17,10492,13,904875.0,...,0.38,2,13,0.0,1.0,1.0,0.85,0.38,11,13
2,20090312431273200,5-12,303.0,459.0,377.0,374.67,60.53,7868,21,338929.0,...,0.30,2,21,0.0,1.0,1.0,0.90,0.30,19,21
3,20090312433251036,0-4,73.0,123.0,115.0,101.20,24.13,506,5,106194.0,...,0.00,0,5,1.0,1.0,1.0,1.00,0.00,5,5
4,20090312433251036,13-22,747.0,1860.0,1309.0,1352.53,345.64,89267,66,1455145.0,...,0.24,4,66,0.0,1.0,1.0,0.94,0.24,62,66

In [86]:
pd.set_option("display.max_rows", 200)

In [87]:
summary = summarize_data_info(numeric_features__object_hover)
summary

Data Shape: (65070, 65)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,21690,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,float64,0.000031,1563,49.0,595.0,303.0,0.0,19685.0
index__max,float64,0.000031,2289,148.0,923.0,459.0,36.0,20461.0
index__median,float64,0.000031,3712,84.5,875.0,377.0,14.0,20442.0
index__mean,float64,0.000031,35556,91.5,807.08,374.67,33.33,20275.27
index__std,float64,0.004718,17894,41.27,130.17,60.53,2.63,3080.01
index__sum,int64,0.000000,24048,366,10492,7868,0.0,485563.0
index__count,int64,0.000000,109,4,13,21,0.0,164.0
elapsed_time__min,float64,0.000031,63029,52328.0,904875.0,338929.0,29.0,1195528472.0
elapsed_time__max,float64,0.000031,64004,153655.0,1262241.0,489095.0,846.0,1988525877.0
elapsed_time__median,float64,0.000031,64213,89742.0,1216702.0,404517.0,490.0,1987058629.0
elapsed_time__mean,float64,0.000031,64965,96366.75,1135096.46,405744.38,487.69,1197598999.37
elapsed_time__std,float64,0.004718,64646,42117.41,143337.74,58802.13,166.48,1025950765.55
elapsed_time__sum,int64,0.000000,64896,385467,14756254,8520632,0.0,63481743277.0
elapsed_time__count,int64,0.000000,109,4,13,21,0.0,164.0
level__min,float64,0.000031,16,1.0,15.0,7.0,0.0,20.0
level__max,float64,0.000031,10,3.0,21.0,11.0,1.0,22.0
level__median,float64,0.000031,31,2.0,20.0,9.0,0.0,22.0
level__mean,float64,0.000031,768,2.0,18.77,8.86,0.75,21.4
level__std,float64,0.004718,314,0.82,2.45,1.71,0.0,3.79
level__sum,float64,0.000000,1036,8.0,244.0,186.0,0.0,3384.0
level__count,int64,0.000000,109,4,13,21,0.0,164.0
hover_duration__min,float64,0.000031,3141,400.0,17.0,15.0,0.0,320765.0
hover_duration__max,float64,0.000031,19832,7899.0,4750.0,4183.0,50.0,245163696.0
hover_duration__median,float64,0.000031,10591,5149.5,784.0,867.0,16.0,1452107.5
hover_duration__mean,float64,0.000031,54962,4649.5,1592.31,1264.14,50.0,36963898.0
hover_duration__std,float64,0.004718,59929,3265.98,1611.22,1477.72,0.0,90500431.44
hover_duration__sum,float64,0.000000,43392,18598.0,20700.0,26547.0,0.0,245241637.0
hover_duration__count,int64,0.000000,109,4,13,21,0.0,164.0
fullscreen__min,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
fullscreen__max,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
fullscreen__median,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.004718,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int8,0.000000,84,0,0,0,0.0,103.0
fullscreen__count,int64,0.000000,109,4,13,21,0.0,164.0
hq__min,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
hq__max,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
hq__median,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.004718,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int8,0.000000,84,0,0,0,0.0,100.0
hq__count,int64,0.000000,109,4,13,21,0.0,164.0
music__min,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
music__max,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
music__median,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.004718,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.000000,109,4,13,21,0.0,164.0
music__count,int64,0.000000,109,4,13,21,0.0,164.0
is_name__basic__min,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
is_name__basic__max,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
is_name__basic__median,float64,0.000031,3,0.5,0.0,0.0,0.0,1.0
is_name__basic__mean,float64,0.000031,71,0.5,0.15,0.1,0.0,1.0
is_name__basic__std,float64,0.004718,49,0.58,0.38,0.3,0.0,0.71
is_name__basic__sum,int8,0.000000,19,2,2,2,0.0,20.0
is_name__basic__count,int64,0.000000,109,4,13,21,0.0,164.0
is_name__undefined__min,float64,0.000031,2,0.0,0.0,0.0,0.0,1.0
is_name__undefined__max,float64,0.000031,2,1.0,1.0,1.0,0.0,1.0
is_name__undefined__median,float64,0.000031,3,0.5,1.0,1.0,0.0,1.0
is_name__undefined__mean,float64,0.000031,71,0.5,0.85,0.9,0.0,1.0
is_name__undefined__std,float64,0.004718,49,0.58,0.38,0.3,0.0,0.71
is_name__undefined__sum,int64,0.000000,105,2,11,19,0.0,152.0
is_name__undefined__count,int64,0.000000,109,4,13,21,0.0,164.0

### `event_name` == `"observation_click"`

In [88]:
event_name = "observation_click"
observation_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

observation_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,13,13030,basic,0.0,NaN,487.000000,-98.56250,614.0,386.0,NaN,I love these photos of me and Teddy!,photo,tunic.historicalsociety.closet,tunic.historicalsociety.closet.photo,0,0,1,0-4
1,20090312431273200,37,41297,basic,1.0,NaN,-400.250000,-117.50000,179.0,405.0,NaN,Hmm. Button's still not working.,janitor,tunic.historicalsociety.basement,tunic.historicalsociety.basement.janitor,0,0,1,0-4
2,20090312431273200,108,109825,basic,3.0,NaN,14.359375,-156.25000,444.0,485.0,NaN,Better check back later.,outtolunch,tunic.historicalsociety.stacks,tunic.historicalsociety.stacks.outtolunch,0,0,1,0-4
3,20090312431273200,112,117142,basic,3.0,NaN,-7.492188,-61.71875,480.0,365.0,NaN,Hmm. Button's still not working.,janitor,tunic.historicalsociety.basement,tunic.historicalsociety.basement.janitor,0,0,1,0-4
4,20090312431273200,256,300382,basic,6.0,NaN,75.625000,-32.00000,419.0,362.0,NaN,I bet the archivist could use this!,magnify,tunic.historicalsociety.frontdesk,tunic.historicalsociety.frontdesk.magnify,0,0,1,5-12

In [89]:
observation_click__train_data = recategorize_category_typed_fields(observation_click__train_data)

summary = summarize_data_info(observation_click__train_data)
summary

Data Shape: (212355, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,2501,13,37,108,1.0,19657.0
elapsed_time,int32,0.0,201238,13030,41297,109825,88.0,1988385266.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,22,0.0,1.0,3.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,18460,487.0,-400.25,14.359375,-1972.0,1173.0
room_coor_y,float16,0.0,12759,-98.5625,-117.5,-156.25,-885.0,450.5
screen_coor_x,float16,0.0,2065,614.0,179.0,444.0,0.0,1726.0
screen_coor_y,float16,0.0,1648,386.0,405.0,485.0,6.0,1250.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,25,I love these photos of me and Teddy!,Hmm. Button's still not working.,Better check back later.,NaN,NaN
fqid,category,0.0,19,photo,janitor,outtolunch,NaN,NaN
room_fqid,category,0.0,13,tunic.historicalsociety.closet,tunic.historicalsociety.basement,tunic.historicalsociety.stacks,NaN,NaN
text_fqid,category,0.0,24,tunic.historicalsociety.closet.photo,tunic.historicalsociety.basement.janitor,tunic.historicalsociety.stacks.outtolunch,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [90]:
observation_click__feature_fields_list = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

In [91]:
numeric_features__observation_click = create_event_features(observation_click__train_data, observation_click__feature_fields_list).reset_index()
numeric_features__observation_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,13.0,112.0,72.5,67.5,50.07,270,4,13030.0,...,0.0,0,4,1.0,1.0,1.0,1.0,0.0,4,4
1,20090312431273200,13-22,608.0,773.0,725.0,702.0,84.87,2106,3,920474.0,...,0.0,0,3,1.0,1.0,1.0,1.0,0.0,3,3
2,20090312431273200,5-12,256.0,256.0,256.0,256.0,NaN,256,1,300382.0,...,NaN,0,1,1.0,1.0,1.0,1.0,NaN,1,1
3,20090312433251036,0-4,29.0,31.0,30.0,30.0,1.41,60,2,36447.0,...,0.0,0,2,0.0,0.0,0.0,0.0,0.0,0,2
4,20090312433251036,13-22,620.0,1474.0,981.0,1038.2,410.68,5191,5,1217273.0,...,0.0,0,5,0.0,0.0,0.0,0.0,0.0,0,5

In [92]:
summary = summarize_data_info(numeric_features__observation_click)
summary

Data Shape: (70686, 72)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.000000,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.000000,3,0-4,13-22,5-12,NaN,NaN
index__min,float64,0.109145,1458,13.0,608.0,256.0,1.0,18378.0
index__max,float64,0.109145,2094,112.0,773.0,256.0,3.0,19657.0
index__median,float64,0.109145,2978,72.5,725.0,256.0,3.0,19593.0
index__mean,float64,0.109145,12759,67.5,702.0,256.0,3.0,19125.4
index__std,float64,0.272600,16515,50.07,84.87,NaN,0.71,3101.72
index__sum,int64,0.000000,7307,270,2106,256,0.0,338375.0
index__count,int64,0.000000,32,4,3,1,0.0,53.0
elapsed_time__min,float64,0.109145,60720,13030.0,920474.0,300382.0,88.0,1746734366.0
elapsed_time__max,float64,0.109145,61851,117142.0,1091181.0,300382.0,88.0,1988385266.0
elapsed_time__median,float64,0.109145,62032,75561.0,1050634.0,300382.0,88.0,1746734366.0
elapsed_time__mean,float64,0.109145,62472,70323.5,1020763.0,300382.0,88.0,1746734366.0
elapsed_time__std,float64,0.272600,50860,51242.64,89187.6,NaN,2.0,1147038518.64
elapsed_time__sum,int64,0.000000,62414,281294,3062289,300382,0.0,8271277418.0
elapsed_time__count,int64,0.000000,32,4,3,1,0.0,53.0
level__min,float64,0.109145,9,0.0,15.0,6.0,0.0,15.0
level__max,float64,0.109145,16,3.0,18.0,6.0,0.0,22.0
level__median,float64,0.109145,39,2.0,18.0,6.0,0.0,22.0
level__mean,float64,0.109145,527,1.75,17.0,6.0,0.0,20.33
level__std,float64,0.272600,304,1.5,1.73,NaN,0.0,4.24
level__sum,float64,0.000000,242,7.0,51.0,6.0,0.0,386.0
level__count,int64,0.000000,32,4,3,1,0.0,53.0
room_coor_x__min,float64,0.109145,11538,-400.25,-583.5,75.62,-1972.0,1137.0
room_coor_x__max,float64,0.109145,8763,487.0,439.0,75.62,-1167.0,1173.0
room_coor_x__median,float64,0.109145,24376,3.43,-49.44,75.62,-1504.0,1137.0
room_coor_x__mean,float64,0.109145,34278,23.4,-64.65,75.62,-1167.0,1137.0
room_coor_x__std,float64,0.272600,31615,363.06,511.42,NaN,0.0,1417.04
room_coor_x__sum,float64,0.000000,40285,93.62,-193.94,75.62,-22846.25,17399.0
room_coor_x__count,int64,0.000000,32,4,3,1,0.0,53.0
room_coor_y__min,float64,0.109145,6694,-156.25,-775.5,-32.0,-885.0,349.5
room_coor_y__max,float64,0.109145,8569,-61.72,-23.0,-32.0,-463.25,450.5
room_coor_y__median,float64,0.109145,17169,-108.03,-423.5,-32.0,-782.5,349.5
room_coor_y__mean,float64,0.109145,29819,-108.51,-407.33,-32.0,-599.71,349.5
room_coor_y__std,float64,0.272600,26406,39.36,376.51,NaN,0.0,534.75
room_coor_y__sum,float64,0.000000,32333,-434.03,-1222.0,-32.0,-5033.62,2901.97
room_coor_y__count,int64,0.000000,32,4,3,1,0.0,53.0
screen_coor_x__min,float64,0.109145,1323,179.0,215.0,419.0,0.0,1726.0
screen_coor_x__max,float64,0.109145,1429,614.0,547.0,419.0,2.0,1726.0
screen_coor_x__median,float64,0.109145,1953,462.0,374.0,419.0,2.0,1726.0
screen_coor_x__mean,float64,0.109145,7678,429.25,378.67,419.0,2.0,1726.0
screen_coor_x__std,float64,0.272600,20370,182.16,166.05,NaN,0.0,821.66
screen_coor_x__sum,float64,0.000000,5381,1717.0,1136.0,419.0,0.0,21718.0
screen_coor_x__count,int64,0.000000,32,4,3,1,0.0,53.0
screen_coor_y__min,float64,0.109145,973,365.0,349.0,362.0,6.0,1058.0
screen_coor_y__max,float64,0.109145,1069,485.0,577.0,362.0,29.0,1250.0
screen_coor_y__median,float64,0.109145,1441,395.5,353.0,362.0,29.0,1058.0
screen_coor_y__mean,float64,0.109145,6033,410.25,426.33,362.0,29.0,1058.0
screen_coor_y__std,float64,0.272600,14643,52.44,130.5,NaN,0.0,459.74
screen_coor_y__sum,float64,0.000000,4459,1641.0,1279.0,362.0,0.0,16094.0
screen_coor_y__count,int64,0.000000,32,4,3,1,0.0,53.0
fullscreen__min,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
fullscreen__max,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
fullscreen__median,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.272600,1,0.0,0.0,NaN,0.0,0.0
fullscreen__sum,int8,0.000000,23,0,0,0,0.0,25.0
fullscreen__count,int64,0.000000,32,4,3,1,0.0,53.0
hq__min,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
hq__max,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
hq__median,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.109145,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.272600,1,0.0,0.0,NaN,0.0,0.0
hq__sum,int8,0.000000,22,0,0,0,0.0,26.0
hq__count,int64,0.000000,32,4,3,1,0.0,53.0
music__min,float64,0.109145,2,1.0,1.0,1.0,0.0,1.0
music__max,float64,0.109145,2,1.0,1.0,1.0,0.0,1.0
music__median,float64,0.109145,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.109145,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.272600,1,0.0,0.0,NaN,0.0,0.0
music__sum,int8,0.000000,32,4,3,1,0.0,53.0
music__count,int64,0.000000,32,4,3,1,0.0,53.0

### `event_name` == `"person_click"`

In [93]:
event_name = "person_click"
person_click__train_data = train_data[train_data["event_name"] == event_name].drop(labels=["event_name"], axis=1).reset_index(drop=True)

person_click__train_data.head()

,session_id,index,elapsed_time,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,1,1323,basic,0.0,NaN,-414.0,-159.375,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
1,20090312431273200,2,831,basic,0.0,NaN,-414.0,-159.375,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,3,1147,basic,0.0,NaN,-414.0,-159.375,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,4,1863,basic,0.0,NaN,-413.0,-159.375,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,5,3423,basic,0.0,NaN,-413.0,-157.375,381.0,492.0,NaN,"Sure thing, Jo. Grab your notebook and come up...",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [94]:
person_click__train_data = recategorize_category_typed_fields(person_click__train_data)

summary = summarize_data_info(person_click__train_data)
summary

Data Shape: (6052853, 19)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
index,int16,0.0,4878,1,2,3,0.0,20388.0
elapsed_time,int32,0.0,2686162,1323,831,1147,0.0,1988597956.0
name,category,0.0,1,basic,basic,basic,NaN,NaN
level,float16,0.0,22,0.0,0.0,0.0,0.0,22.0
page,float16,1.0,0,NaN,NaN,NaN,NaN,NaN
room_coor_x,float16,0.0,24453,-414.0,-414.0,-414.0,-1335.0,1059.0
room_coor_y,float16,0.0,21702,-159.375,-159.375,-159.375,-839.5,527.5
screen_coor_x,float16,0.0,4630,380.0,380.0,380.0,0.0,1875.0
screen_coor_y,float16,0.0,3513,494.0,494.0,494.0,0.0,1388.0
hover_duration,float32,1.0,0,NaN,NaN,NaN,NaN,NaN
text,category,0.0,362,"Whatcha doing over there, Jo?",Just talking to Teddy.,I gotta run to my meeting!,NaN,NaN
fqid,category,0.0,12,gramps,gramps,gramps,NaN,NaN
room_fqid,category,0.0,16,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet,NaN,NaN
text_fqid,category,0.0,66,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN
fullscreen,category,0.0,2,0,0,0,NaN,NaN
hq,category,0.0,2,0,0,0,NaN,NaN
music,category,0.0,2,1,1,1,NaN,NaN
level_group,category,0.0,3,0-4,0-4,0-4,NaN,NaN

In [95]:
person_click__feature_fields_list = [
    "index", "elapsed_time", "level", "room_coor_x", "room_coor_y",
    "screen_coor_x", "screen_coor_y", "fullscreen", "hq", "music"
]

In [96]:
numeric_features__person_click = create_event_features(person_click__train_data, person_click__feature_fields_list).reset_index()
numeric_features__person_click.head()

,session_id,level_group,index__min,index__max,index__median,index__mean,index__std,index__sum,index__count,elapsed_time__min,...,hq__std,hq__sum,hq__count,music__min,music__max,music__median,music__mean,music__std,music__sum,music__count
0,20090312431273200,0-4,1,120,62.0,52.09,44.93,1146,22,831,...,0.0,0,22,1,1,1.0,1.0,0.0,22,22
1,20090312431273200,13-22,538,909,770.0,771.89,90.65,94942,123,858662,...,0.0,0,123,1,1,1.0,1.0,0.0,123,123
2,20090312431273200,5-12,176,440,311.0,322.30,75.29,33519,104,222334,...,0.0,0,104,1,1,1.0,1.0,0.0,104,104
3,20090312433251036,0-4,1,88,45.5,44.94,40.31,809,18,218,...,0.0,0,18,0,0,0.0,0.0,0.0,0,18
4,20090312433251036,13-22,616,1823,1521.0,1435.01,307.43,208076,145,1212275,...,0.0,0,145,0,0,0.0,0.0,0.0,0,145

In [97]:
summary = summarize_data_info(numeric_features__person_click)
summary

Data Shape: (70686, 72)

,data_type,perc_missing,n_unique,first_value,second_value,third_value,min,max
session_id,int64,0.0,23562,20090312431273200,20090312431273200,20090312431273200,20090312431273200.0,22100221145014656.0
level_group,category,0.0,3,0-4,13-22,5-12,NaN,NaN
index__min,int64,0.0,1363,1,538,176,0.0,18373.0
index__max,int64,0.0,2383,120,909,440,9.0,20388.0
index__median,float64,0.0,3492,62.0,770.0,311.0,5.0,19660.5
index__mean,float64,0.0,39654,52.09,771.89,322.3,5.0,19706.88
index__std,float64,0.0,16315,44.93,90.65,75.29,2.74,3066.1
index__sum,int64,0.0,41111,1146,94942,33519,45.0,3665479.0
index__count,int64,0.0,243,22,123,104,9.0,492.0
elapsed_time__min,int64,0.0,53858,831,858662,222334,0.0,1194396086.0
elapsed_time__max,int64,0.0,69163,126323,1247842,468513,865.0,1988597956.0
elapsed_time__median,float64,0.0,69499,69001.5,1086113.0,343545.0,419.0,1746660730.0
elapsed_time__mean,float64,0.0,70638,54206.86,1091566.95,357039.93,418.2,1310274999.1
elapsed_time__std,float64,0.0,70573,47710.69,94353.97,70339.87,195.82,1004881275.88
elapsed_time__sum,int64,0.0,70574,1192551,134262735,37132153,9156.0,252413795296.0
elapsed_time__count,int64,0.0,243,22,123,104,9.0,492.0
level__min,float64,0.0,8,0.0,13.0,5.0,0.0,17.0
level__max,float64,0.0,7,3.0,21.0,11.0,0.0,22.0
level__median,float64,0.0,17,2.0,18.0,7.5,0.0,21.0
level__mean,float64,0.0,427,1.14,18.24,7.98,0.0,19.59
level__std,float64,0.0,152,1.08,1.67,1.99,0.0,2.39
level__sum,float64,0.0,2467,25.0,2243.0,830.0,0.0,9059.0
level__count,int64,0.0,243,22,123,104,9.0,492.0
room_coor_x__min,float64,0.0,3436,-414.0,-1050.0,-725.0,-1335.0,325.5
room_coor_x__max,float64,0.0,4690,512.0,808.5,388.25,-140.12,1059.0
room_coor_x__median,float64,0.0,15892,142.81,43.91,-58.34,-578.5,714.0
room_coor_x__mean,float64,0.0,33357,93.06,49.73,-148.17,-497.19,493.66
room_coor_x__std,float64,0.0,31398,345.95,553.22,229.15,0.14,717.48
room_coor_x__sum,float64,0.0,69044,2047.24,6116.45,-15410.14,-73878.06,120703.5
room_coor_x__count,int64,0.0,243,22,123,104,9.0,492.0
room_coor_y__min,float64,0.0,3710,-253.88,-683.5,-253.62,-839.5,174.62
room_coor_y__max,float64,0.0,6829,6.13,121.75,121.12,-271.5,527.5
room_coor_y__median,float64,0.0,12893,-167.62,-169.88,-43.0,-630.5,300.0
room_coor_y__mean,float64,0.0,33053,-175.69,-239.36,-50.86,-476.68,292.2
room_coor_y__std,float64,0.0,20555,59.83,244.77,109.46,0.04,387.7
room_coor_y__sum,float64,0.0,69122,-3865.12,-29440.75,-5289.66,-125914.34,34772.19
room_coor_y__count,int64,0.0,243,22,123,104,9.0,492.0
screen_coor_x__min,float64,0.0,1231,270.0,84.0,185.0,0.0,945.0
screen_coor_x__max,float64,0.0,1272,698.0,791.0,724.0,135.0,1875.0
screen_coor_x__median,float64,0.0,1725,403.0,553.0,366.5,24.0,1214.0
screen_coor_x__mean,float64,0.0,28215,485.55,470.47,370.45,42.1,1154.73
screen_coor_x__std,float64,0.0,19480,135.24,211.26,117.4,0.0,583.84
screen_coor_x__sum,float64,0.0,37564,10682.0,57868.0,38527.0,757.77,269209.0
screen_coor_x__count,int64,0.0,243,22,123,104,9.0,492.0
screen_coor_y__min,float64,0.0,980,321.0,236.0,227.0,0.0,888.0
screen_coor_y__max,float64,0.0,929,525.0,556.0,560.0,160.0,1388.0
screen_coor_y__median,float64,0.0,1355,476.0,394.0,373.0,18.0,1106.0
screen_coor_y__mean,float64,0.0,22454,465.09,376.27,374.87,50.08,1096.15
screen_coor_y__std,float64,0.0,11787,46.86,65.57,98.58,0.0,270.48
screen_coor_y__sum,float64,0.0,32428,10232.0,46281.0,38986.0,1815.0,171012.0
screen_coor_y__count,int64,0.0,243,22,123,104,9.0,492.0
fullscreen__min,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__max,int8,0.0,2,0,0,0,0.0,1.0
fullscreen__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
fullscreen__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
fullscreen__sum,int64,0.0,168,0,0,0,0.0,295.0
fullscreen__count,int64,0.0,243,22,123,104,9.0,492.0
hq__min,int8,0.0,2,0,0,0,0.0,1.0
hq__max,int8,0.0,2,0,0,0,0.0,1.0
hq__median,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__mean,float64,0.0,2,0.0,0.0,0.0,0.0,1.0
hq__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
hq__sum,int64,0.0,173,0,0,0,0.0,284.0
hq__count,int64,0.0,243,22,123,104,9.0,492.0
music__min,int8,0.0,2,1,1,1,0.0,1.0
music__max,int8,0.0,2,1,1,1,0.0,1.0
music__median,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__mean,float64,0.0,2,1.0,1.0,1.0,0.0,1.0
music__std,float64,0.0,1,0.0,0.0,0.0,0.0,0.0
music__sum,int64,0.0,243,22,123,104,0.0,492.0
music__count,int64,0.0,243,22,123,104,9.0,492.0